{% extends 'base.html' %} {% load static %} {% block content %}

{% include 'components/navbar.html' %}

<div class="about-page">
  <header class="page-header"></header>
</div>

<!-- About Us Section -->
<section class="about-section container">
  <div class="about-tabs">
    <div class="tab active" data-tab="about-aminol">About Aminol</div>
    <div class="tab" data-tab="quality">Quality</div>
    <div class="tab" data-tab="production">Production</div>
    <div class="tab" data-tab="documents">Documents & Certifications</div>
    <div class="tab" data-tab="sustainability">Sustainability</div>
  </div>
</section>

<div class="about-content">
  <div class="tab-content active" id="about-aminol">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <span>Home page</span>|
      <a href="">About us</a>
    </div>

    <!-- Shared Section -->
    <div class="shared-section">
      <div class="shared-background"></div>
      <div class="container">
        <img src="{% static '/images/shared-image1.png' %}" alt="" />
        <div class="shared-description">
          <p>Founded in 2017</p>
          <p>Based in Azerbaijan</p>
          <p>Located in Sumgait Chemical Industrial Park (SCIP)</p>
          <p>Exporting to 50+ countries</p>
          <p>Production capacity 100,000 tons per year</p>
          <p>Workforce 195 employees</p>
        </div>
      </div>
    </div>

    <div class="shared-images-section">
      <div class="section-header">
        <h2>ABOUT AMINOL</h2>
      </div>

      <div class="container">
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          <!-- First Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/about1.jpg' %}" alt="AMINOL Factory Workers" />
              </div>
            </div>
            <div class="text-container">
              <h2>How we started</h2>
              <p>
                The modernization of industry and renewal of equipment have
                increased demand for high-quality lubricants in Azerbaijan. To
                meet this, AMINOL Lubricants opened on December 15, 2017, in
                Sumgayit Chemical Industrial Park with a $20 million investment.
                The plant produces 150,000 tons annually, focusing on motor,
                hydraulic, transmission, compressor, turbine, and marine oils,
                along with antifreeze and AdBlue.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-1" alt="Yellow Point" />

          <!-- Second Row -->
          <div class="section-row row-reverse">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/about2.jpg' %}" alt="AMINOL Factory Interior" />
              </div>
            </div>
            <div class="text-container text-left">
              <h2>The power of innovation</h2>
              <p>
                AMINOL Lubricants ensures competitiveness with ISO 9001, ISO
                14001, ISO 17025, API, and ATIEL certifications. To boost
                exports, it secured approvals from major brands like
                Mercedes-Benz, General Electric, Volvo, Mack, and Renault.
                Benefiting from tax cuts in Sumgayit Chemical Industrial Park,
                it produces high-quality, eco-friendly products at competitive
                prices, delivering globally with a door-to-door approach.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-2" alt="Yellow Point" />

          <!-- Third Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/about3.jpg' %}" alt="AMINOL Laboratory" />
              </div>
            </div>
            <div class="text-container">
              <h2>Trusted Specialist</h2>
              <p>
                AMINOL Lubricants produces and packages high-quality oils using
                premium imported base oils and additives, formulated by expert
                engineers. A strict quality assurance policy ensures compliance
                with international standards. AMINOL Lubricants enhances engine
                and equipment performance with reliable starts, improved fuel
                economy, sustainability, and extended longevity through superior
                corrosion resistance.
              </p>
            </div>
          </div>
          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-3" alt="Yellow Point" />
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content" id="quality">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <span>Home page</span>| <span>About us</span>|
      <a href="">Quality</a>
    </div>

    <div class="section-header">
      <h2>QUALITY</h2>
    </div>

    <div class="shared-images-section">
      <div class="container">
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          <!-- First Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/quality1.png' %}" alt="AMINOL Factory Workers" />
              </div>
            </div>
            <div class="text-container">
              <h2>Laboratory Testing</h2>
              <p>
                Our laboratory services specialize in precision testing
                solutions tailored for automotive oils. Utilizing
                state-of-the-art equipment and expert analysis, we meticulously
                evaluate the quality and performance of each oil sample. From
                viscosity measurements to chemical composition analysis, our
                comprehensive testing ensures that our products meet the
                strictest standards of excellence, enhancing the performance and
                longevity of your engines.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-1" alt="Yellow Point" />

          <!-- Second Row -->
          <div class="section-row row-reverse">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/quality2.png' %}" alt="AMINOL Factory Interior" />
              </div>
            </div>
            <div class="text-container text-left">
              <h2>Reliable and Precise</h2>
              <p>
                We adhere to ISO standards in our laboratory practices, ensuring
                the highest levels of quality and reliability. Our commitment to
                compliance guarantees consistent and accurate analysis results,
                meeting industry benchmarks for excellence. With
                state-of-the-art equipment and advanced testing methodologies,
                we ensure accurate and reliable analysis results. Our
                cutting-edge technology allows us to deliver precise
                measurements and valuable insights into oil properties.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-2" alt="Yellow Point" />
        </div>
      </div>
    </div>

    <div class="guarantee-section">
      <div class="section-content">
        <h2>We guarantee</h2>
      </div>

      <div class="guarantee-main-container">
        <div class="guarantee-row container">
          <div class="row-item">
            <span>1.</span>
            <h3>Higher production capacity</h3>
            <p>Longer maintenance intervals, fewer faults and downtime. </p>
          </div>
          <div class="row-item row-item-2">
            <span>2.</span>
            <h3>Lower maintenance costs</h3>
            <p>
              Fewer maintenance hours, longer machinery and equipment service
              lives. 
            </p>
          </div>
          <div class="row-item">
            <span>3.</span>
            <h3>Friendly to people and environment</h3>
            <p>
              Most Eurol Specialty products avoid micro-plastics and chlorinated
              paraffins for safety and environmental care. 
            </p>
          </div>
          <div class="row-item row-item-2">
            <span>4.</span>
            <h3>Reduced energy consumption</h3>
            <p>
              Reduced energy loss thanks to optimal lubrication in all
              circumstances. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="production">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <span>Home page</span>| <span>About Aminol</span>|
      <a href="">Production</a>
    </div>

    <div class="section-header">
      <h2>PRODUCTION</h2>
    </div>

    <div class="shared-images-section">
      <div class="container">
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          <!-- First Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/production-1.png' %}" alt="AMINOL Factory Workers" />
              </div>
            </div>
            <div class="text-container">
              <h2>Manufacturing processes</h2>
              <p>
                Aminol has the largest blender in the Caucasus region with an
                installed capacity of approximately 100 000 metric tonnes. The
                equipment used for manufacutring is sourced from well known
                international companies based in Europe, with proven track
                records in field operation. All manufacuring processes are
                automatically controlled and involve minimal outside
                involvement, which contributes to the homogeneity and stability
                of our product. The plant was projected, built and comissioned
                by a team of European engineers with deep experience in
                comissioning blending facilities in Europe and the CIS.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-1" alt="Yellow Point" />

          <!-- Second Row -->
          <div class="section-row row-reverse">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/production-2.jpg' %}" alt="AMINOL Factory Interior" />
              </div>
            </div>
            <div class="text-container text-left">
              <h2>Our capacity</h2>
              <p>
                The plant includes within it a facility for blowmoulding plastic
                containers for oil and other deionised fluids blending facility,
                as well as storage warehouses, recreational area and an office
                building. At full capacity the plant can store over 40,000
                metric tonnes of base oil in stationary tanks, and 8,000 metric
                tonnes in mobile railway tankers. The plant is an occupant of
                the Sumgait Chemical Industrial Park, located in the Republic of
                Azerbaijan. It is based on a total of 4,0 hectares of land. With
                its own railway line, and bulk loading and unloading equipment,
                the plant fulfills all the requirements of an in-land terminal.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-2" alt="Yellow Point" />

          <!-- Third Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/production-3.jpg' %}" alt="AMINOL Factory Workers" />
              </div>
            </div>
            <div class="text-container">
              <h2>Focus on Innovation</h2>
              <p>
                AMINOL Lubricants produces and packages high-quality oils using
                premium imported base oils and additives, formulated by expert
                engineers. A strict quality assurance policy ensures compliance
                with international standards. AMINOL Lubricants enhances engine
                and equipment performance with reliable starts, improved fuel
                economy, sustainability, and extended longevity through superior
                corrosion resistance.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-3" alt="Yellow Point" />
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="documents">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <span>Home page</span>| <span>About Aminol</span>|
      <a href="">Documents & Certifications</a>
    </div>

    <div class="section-header">
      <h2>DOCUMENTS AND CERTIFICATION</h2>
    </div>
    <div class="container">
      <div class="certifications-container">
        <img src="{% static '/images/certifications.png' %}" alt="" />
        <h3>Certifications and International Standards</h3>
        <p>
          As a trusted partner to many Original Equipment Manufacturers (OEMs),
          including Mercedes-Benz, BMW, Audi, Volkswagen, Porshce,Toyota, Honda,
          Hyundai, Ford, Nissan, General Motors and other leading global
          automakers, our products consistently meet the stringent requirements
          needed to ensure optimal performance, durability, and efficiency for
          modern vehicles. Our OEM endorsements confirm that AMINOL lubricants
          undergo rigorous testing, ensuring compatibility and superior
          performance.
        </p>
      </div>

      <div class="certifications-logos">
        <img src="{% static '/images/certifications-logos-1.png' %}" alt="" />
      </div>

      <div class="certifications-logos">
        <img src="{% static '/images/certifications-logos-2.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="tab-content" id="sustainability">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <span>Home page</span>| <span>About Aminol</span>|
      <a href="">Sustainability</a>
    </div>

    <div class="section-header">
      <h2>SUSTAINABILITY</h2>
    </div>

    <div class="sustainability-container">
      <div class="sustainability-background"></div>
      <div class="container sustainability-content">
        <div class="sustainability-circle-wrapper">
          <div class="sustainability-circle-img">
            <img class="circle-img" src="{% static '/images/sustainability-circle.png' %}"
              alt="Sustainability Circle" />
            <img class="curved-text-img" src="{% static '/images/curve text.svg' %}"
              alt="Core of Innovation Sustainability" />
          </div>
        </div>
        <div class="content-wrapper">
          <p>
            As a leading manufacturer of high-quality lubricants, we are
            committed to delivering solutions that align with global
            environmental standards and customer needs. This commitment drives
            our collaborations and investments in eco-friendly technologies and
            practices.
          </p>
        </div>
      </div>
    </div>

    <div class="shared-images-section">
      <div class="container">
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          <!-- First Row -->
          <div class="section-row">
            <div class="text-container text-left">
              <h2>Advanced Additive Solutions</h2>
              <p>
                Aminol partners with global leaders in additive technology, such
                as Lubrizol, Chevron, Infenium, and Afton to integrate advanced
                low-SAPS (Sulphated Ash, Phosphorus, and Sulfur) additive
                packages into our formulations. These solutions are designed to
                reduce emissions, enhance fuel efficiency, and protect modern
                engines, meeting the demands of increasingly stringent
                environmental regulations.
              </p>
            </div>
            <div class="text-container">
              <h2>Research and Development</h2>
              <p>
                Beyond working with industry-leading additive suppliers, Aminol
                invests heavily in its research and development (R&D) programs
                to pioneer eco-friendly innovations. Our R&D initiatives focus
                on: Creating formulations tailored for hybrid and electric
                vehicles, as well as high-performance engines. Developing
                longer-lasting lubricants to reduce waste and minimize
                environmental impact. Exploring renewable and biodegradable
                components to advance sustainability in every stage of
                production.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-1" alt="Yellow Point" />

          <!-- Second Row -->
          <div class="section-row">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/sustainability1.png' %}" alt="AMINOL Factory Interior" />
              </div>
            </div>
            <div class="text-container">
              <h2>Our Vision for the Future</h2>
              <p>
                Sustainability is embedded in Aminol’s DNA. Through
                collaborative efforts, advanced R&D, and a commitment to
                innovation, we aim to lead the lubricant industry into a
                cleaner, greener future. Every product we deliver reflects our
                dedication to minimizing environmental impact while maximizing
                performance and reliability.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-2" alt="Yellow Point" />

          <!-- Third Row -->
          <div class="section-row row-reverse">
            <div class="image-container">
              <div class="circular-image">
                <img src="{% static '/images/sustainability2.png' %}" alt="AMINOL Factory Workers" />
              </div>
            </div>
            <div class="text-container text-left">
              <h2>Commitment to Excellence</h2>
              <p>
                Aminol’s close partnerships with the main global additive
                manufacturers allow us to stay ahead of the curve, incorporating
                the latest advancements in additive technology. By leveraging
                these innovations, we provide high-performance solutions that
                meet both the environmental and operational needs of our
                customers.
              </p>
            </div>
          </div>

          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-3" alt="Yellow Point" />
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}