{% extends 'base.html' %} {% load static %} {% block content %}

{% include 'components/navbar_blur.html' %}

<div class="about-page">
  <header class="page-header"></header>
</div>

<!-- About Us Section -->
<section class="about-section container">
  <div class="about-tabs">
    <div class="tab active" data-tab="about-aminol">About Aminol</div>
    <div class="tab" data-tab="quality">Quality</div>
    <div class="tab" data-tab="production">Production</div>
    <div class="tab" data-tab="documents">Documents & Certifications</div>
    <div class="tab" data-tab="sustainability">Sustainability</div>
  </div>
</section>

<div class="about-content">
  <!-- About Aminol Tab -->
  <div class="tab-content active" id="about-aminol">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <a href="/">Home page</a>|
      <p>About us</p>
    </div>

    <!-- Shared Section -->
    {% if about_aminol %}
    <div class="shared-section">
      <div class="shared-background"></div>
      <div class="container">
        <img src="{{ about_aminol.shared_image.url }}" alt="About Aminol" />
        <div class="shared-description">
          <p>Founded in {{ about_aminol.founded_year }}</p>
          <p>Based in {{ about_aminol.based_in }}</p>
          <p>Located in {{ about_aminol.location }}</p>
          <p>Exporting to {{ about_aminol.exporting_to }}</p>
          <p>Production capacity {{ about_aminol.production_capacity }}</p>
          <p>Workforce {{ about_aminol.workforce }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="shared-images-section">
      <div class="section-header">
        <h2>ABOUT AMINOL</h2>
      </div>

      <div class="container">
        {% if about_sections %}
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          {% for section in about_sections %}
          <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
            <div class="image-container">
              <div class="circular-image">
                <img src="{{ section.image.url }}" alt="{{ section.title }}" />
              </div>
            </div>
            <div class="text-container {% if forloop.counter|divisibleby:2 %}text-left{% endif %}">
              <h2>{{ section.title }}</h2>
              <p>{{ section.description }}</p>
            </div>
          </div>
          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}"
            alt="Yellow Point" />
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Quality Tab -->
  <div class="tab-content" id="quality">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <a href="/">Home page</a>| <span>About us</span>|
      <p>Quality</p>
    </div>

    <div class="section-header">
      <h2>QUALITY</h2>
    </div>

    <div class="shared-images-section">
      <div class="container">
        {% if quality_contents %}
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          {% for content in quality_contents %}
          <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
            <div class="image-container">
              <div class="circular-image">
                <img src="{{ content.image.url }}" alt="{{ content.title }}" />
              </div>
            </div>
            <div class="text-container">
              <h2>{{ content.title }}</h2>
              <p>{{ content.description }}</p>
            </div>
          </div>
          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}"
            alt="Yellow Point" />
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <!-- We Guarantee Section -->
    {% if guarantee %}
    <div class="guarantee-section">
      <div class="section-content">
        <h2>{{ guarantee.title }}</h2>
      </div>

      <div class="guarantee-main-container">
        <div class="guarantee-row container">
          <div class="row-item">
            <span>1.</span>
            <h3>{{ guarantee.sub_title_one }}</h3>
            <p>{{ guarantee.sub_description_one }}</p>
          </div>
          <div class="row-item row-item-2">
            <span>2.</span>
            <h3>{{ guarantee.sub_title_two }}</h3>
            <p>{{ guarantee.sub_description_two }}</p>
          </div>
          <div class="row-item">
            <span>3.</span>
            <h3>{{ guarantee.sub_title_three }}</h3>
            <p>{{ guarantee.sub_description_three }}</p>
          </div>
          <div class="row-item row-item-2">
            <span>4.</span>
            <h3>{{ guarantee.sub_title_four }}</h3>
            <p>{{ guarantee.sub_description_four }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Production Tab -->
  <div class="tab-content" id="production">
    <!-- Breadcrumb -->

    <div class="breadcrumb container">
      <a href="/">Home page</a>| <span>About Aminol</span>|
      <p>Production</p>
    </div>

    <div class="section-header">
      <h2>PRODUCTION</h2>
    </div>

    <div class="shared-images-section">
      <div class="container">
        {% if production_contents %}
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          {% for content in production_contents %}
          <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
            <div class="image-container">
              <div class="circular-image">
                <img src="{{ content.image.url }}" alt="{{ content.title }}" />
              </div>
            </div>
            <div class="text-container">
              <h2>{{ content.title }}</h2>
              <p>{{ content.description }}</p>
            </div>
          </div>

          <!-- Yellow Point Droplet -->
          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}"
            alt="Yellow Point" />
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Documents & Certifications Tab -->
  <div class="tab-content" id="documents">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
      <a href="/">Home page</a>| <span>About Aminol</span>|
      <p>Documents & Certifications</p>
    </div>

    <div class="section-header">
      <h2>DOCUMENTS AND CERTIFICATION</h2>
    </div>

    {% if documents_cert %}
    <div class="container">
      <div class="certifications-container">
        <img src="{% static '/images/certifications.png' %}" alt="" />
        <h3>{{ documents_cert.title }}</h3>
        <p>{{ documents_cert.description }}</p>
      </div>

      <div class="certifications-logos">
        <img src="{% static '/images/certifications-logos-1.png' %}" alt="" />
      </div>

      <div class="certifications-logos">
        <img src="{% static '/images/certifications-logos-2.png' %}" alt="" />
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Sustainability Tab -->
  <div class="tab-content" id="sustainability">
    <!-- Breadcrumb -->

    <div class="breadcrumb container">
      <a href="/">Home page</a>| <span>About Aminol</span>|
      <p>Sustainability</p>
    </div>

    <div class="section-header">
      <h2>SUSTAINABILITY</h2>
    </div>

    {% if sustainability %}
    <div class="sustainability-container">
      <div class="sustainability-background"></div>
      <div class="container sustainability-content">
        <div class="sustainability-circle-wrapper">
          <div class="sustainability-circle-img">
            <img class="circle-img" src="{% static '/images/sustainability-circle.png' %}"
              alt="Sustainability Circle" />
            <img class="curved-text-img" src="{% static '/images/curve text.svg' %}"
              alt="Core of Innovation Sustainability" />
          </div>
        </div>
        <div class="content-wrapper">
          <p>{{ sustainability.main_description }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="shared-images-section">
      <div class="container">
        {% if sustainability_contents %}
        <div class="shared-images-container">
          <div class="vertical-line"></div>
          {% for content in sustainability_contents %}
          <div
            class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}"
          >
            <div class="image-container">
              <div class="circular-image">
                <img src="{{ content.image.url }}" alt="{{ content.title }}" />
              </div>
            </div>
            <div class="text-container">
              <h2>{{ content.title }}</h2>
              <p>{{ content.description }}</p>
            </div>
          </div>
          <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}"
            alt="Yellow Point" />
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}