{% extends 'base.html' %} {% load static %} {% block content %}
<div class="news-page">
    {% include 'components/navbar_dark.html' %}

    <header class="page-header">
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a href="/">Home page</a>|<p>Brand Portal</p>
    </div>


    <div class="container">
        <div class="news-top-content">
            <h2>Brand portal</h2>
            <p>{{ brand.title }}</p>
        </div>
    </div>

    <div class="services-offer-section brand-portal-section container">
        <div class="text-container text-left">
            <p>
               {{ brand.description }}
            </p>
        </div>
        <div class="services-offer-image">
            <img src="{{ brand.image.url }}" alt="Service Offer Image" />
        </div>
    </div>


     <div class="brand-section container">
        {% for content in brand_contents %}
        <div class="brand-item">
            <div class="text-container">
                <h2>{{ content.title }}</h2>
                <p>{{ content.description }}</p>
            </div>
            <div class="brand-image">
                {% if content.image %}
                    <img src="{{ content.image.url }}" alt="{{ content.title }}" />
                {% else %}
                    <img src="{% static '/images/market-industrial.jpg' %}" alt="Service Offer Image" />
                {% endif %}
                <a class="read-more">Read more</a>
            </div>
        </div>
        {% empty %}
        <div class="no-content">
            <p>No brand content available at the moment.</p>
        </div>
        {% endfor %}
    </div>

    {% include 'components/whatsapp.html' %}

</div>

{% endblock %}