{% extends 'base.html' %} {% load static %} {% block content %}

{% include 'components/navbar_blur.html' %}

<div class="contact-page">
    <header class="page-header">
        <div class="header-content">
            <h2>Contact</h2>
            <p>We are ready for your question</p>
        </div>
    </header>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb container">
    <a href="/">Home page</a>|<p>Contact</p>
</div>


<div class="container">
    <div class="contact-top-content">
        <h2>{{ contact_info.title }}</h2>
        <p>{{ contact_info.description }}</p>
    </div>
</div>

{% include 'components/contactcomponent.html' %}

<!-- Contact From Section -->


<div class="contact-grid-content container">
    <div class="item">
    <h3>Aminol headquarters</h3>
    <p>{{ contact_info.aminol_headquarters }}</p>
    <a href="{% if contact_info.aminol_headquarters_location %}{{ contact_info.aminol_headquarters_location }}{% else %}https://maps.google.com/?q={{ contact_info.aminol_headquarters|urlencode }}{% endif %}" 
       class="button-style" target="_blank">
        Location
        <img src="{% static '/images/contact-icon.svg' %}" alt="Contact Icon">
    </a>
</div>

   <div class="item">
    <h2>Aminol factory</h2>
    <p>{{ contact_info.aminol_factory }}</p>
    <a href="{% if contact_info.aminol_factory_location %}{{ contact_info.aminol_factory_location }}{% else %}https://maps.google.com/?q={{ contact_info.aminol_factory|urlencode }}{% endif %}" 
       class="button-style" target="_blank">
        Location
        <img src="{% static '/images/contact-icon.svg' %}" alt="Contact Icon">
    </a>
</div>
</div>

<div class="contact-flex-content container">
    <div class="item">
        <h2>Registers</h2>
        <div>
            {{ contact_info.registers|linebreaks }}
        </div>
    </div>
</div>

<div class="contact-bottom-content container">
    <h2>Contact</h2>
    <div class="contact-bottom">
        <div class="item">
            <h3>Address</h3>
            <div>
                {{ contact_info.contact_address|linebreaks }}
            </div>
        </div>

        <div class="right-item">
            <div>
                <h3>Phone number</h3>
                <p>{{ contact_info.contact_phone }}</p>
            </div>
            <div>
                <h3>E-mail address</h3>
                <p>{{ contact_info.contact_email }}</p>
            </div>
        </div>
    </div>
</div>

{% include 'components/whatsapp.html' %}

{% endblock %}