{% extends 'base.html' %} {% load static %} {% load i18n %}
{% block content %}
<div class="news-page">
    {% include 'components/navbar_dark.html' %}

    <header class="page-header">
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a href="/">{% trans "Home Page" %}</a>|<p>{% trans "FAQ" %}</p>
    </div>


    <div class="container">
        <div class="news-top-content">
            <h2> {% trans "Frequently asked questions" %}</h2>
        </div>
    </div>

    <section class="faq-section container">
    <div class="section-grid">
        {% for faq in faqs %}
        <div class="grid-item">
            <div class="question">
                <i class="fa-solid fa-circle"></i>
                <h3>{{ faq.question_translate }}</h3>
                <img class="plus-icon" src="{% static '/images/Add_round_duotone.svg' %}" alt="">
                <img class="minus-icon" src="{% static '/images/minus_round_duotone.svg' %}" alt="">
            </div>
            <div class="answer">
                <p>{{ faq.answer_translate }}</p>
            </div>
        </div>
        {% empty %}
        <div class="no-faq">
            <p> {% trans "No FAQs available at the moment." %}</p>
        </div>
        {% endfor %}
    </div>
</section>

{% include 'components/contactcomponent.html' %}

    {% include 'components/whatsapp.html' %}

</div>

{% endblock %}