{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "home_meta_title" %}{% endblock %}
{% block description %}{% trans "home_meta_description" %}{% endblock %}
{% block keywords %}{% trans "home_keywords" %}{% endblock %}

{% block page_css %}

    <link rel="preload" href="{% static 'images/aminol_cover_(1).webp' %}" as="PCMO">
    <link rel="preload" href="{% static 'images/truck.webp' %}" as="HDEO">
    <link rel="preload" href="{% static 'images/motorcycle.webp' %}" as="Motorcycle oils">
    <link rel="preload" href="{% static 'images/home-slider4-new.webp' %}" as="Transmission & Gear oils">
    <link rel="preload" href="{% static 'images/home-slider5-new.webp' %}" as="Hydraulic oils">
    <link rel="preload" href="{% static 'images/home-slider6.webp' %}" as="Agricultural lubricants">
    <link rel="preload" href="{% static 'images/home-slider7.webp' %}" as="Industrial lubricants">
    <link rel="preload" href="{% static 'images/home-slider8.webp' %}" as="Marine lubricants">
    <link rel="preload" href="{% static 'images/home-slider9.webp' %}" as="Turbine Oils">

{% endblock %}

{% block page_js %}

{% endblock %}

{% block extra_schema %}
<script type="application/ld+json" data-version="{% now 'U' %}">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Aminol Lubricants",
  "url": "https://www.aminol.az/",
  "description": "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan.",
  "publisher": {
    "@type": "Organization",
    "name": "Aminol Lubricants",
    "url": "https://www.aminol.az/",
    "logo": {
      "@type": "ImageObject",
      "url": "https://aminol.az/static/logo/aminol-logo.svg"
    }
  },
  "image": "https://www.aminol.az/static/images/aminol_cover_(1).webp",
  "inLanguage": "en",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.aminol.az/product/?search={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{% endblock %}

{% block content %}
<img src="{% static 'images/aminol_cover_(1).webp' %}" alt="PCMO" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/truck.webp' %}" alt="HDEO" class="preload-class"  aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/motorcycle.webp' %}" alt="Motorcycle oils" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider4-new.webp' %}" alt="Transmission & Gear oils" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider5-new.webp' %}" alt="Hydraulic oils" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider6.webp' %}" alt="Agricultural lubricants" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider7.webp' %}" alt="Industrial lubricants" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider8.webp' %}" alt="Marine lubricants" class="preload-class" aria-hidden="true" fetchpriority="high">
<img src="{% static 'images/home-slider9.webp' %}" alt="Turbine Oils" class="preload-class"  aria-hidden="true" fetchpriority="high">

{% include 'components/navbar.html' %}

  <header class="placeholder-header  home-header">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide_one">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Passenger car lubricants" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
            <a rel="preload" aria-label="PCMO Page" href="{% url 'products:product_list' %}?search=&product_group=pcmo&segments=passenger-cars&segments=racing&segments=classic-vintage-vehicles&page=1" class="button-style">{% trans "Discover more" %}</a>
          </div>
        </div>
         <div class="swiper-slide swiper-slide_two">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Heavy duty lubricants" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="HDEO Page" href="{% url 'products:product_list' %}?search=&product_group=pcmo&segments=trucks-buses&page=1" class="button-style">{% trans "Discover more" %}</a> 
          </div>
        </div>
        <div class="swiper-slide swiper-slide_three">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Motorcycle oils" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Motorcycle oils Page" href="{% url 'products:product_list' %}?search=&product_group=motorbike&page=1" class="button-style">{% trans "Discover more" %}</a> 
          </div>
        </div>
         <div class="swiper-slide swiper-slide_four">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Transmission & Gear oils" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Transmission & Gear oils Page" href="{% url 'products:product_list' %}?search=&product_group=marine&product_group=greases&product_group=industrial&page=3" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>
         <div class="swiper-slide swiper-slide_five">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Hydraulic oils" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Hydraulic oils Page" href="{% url 'products:product_list' %}?search=&product_group=hydraulic-oils&page=1" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>
         <div class="swiper-slide swiper-slide_six">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Agricultural lubricants" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Agricultural lubricants Page" href="{% url 'products:product_list' %}?search=&product_group=gear&page=1" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>
        <div class="swiper-slide swiper-slide_seven">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Industrial lubricants" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Industrial lubricants Page" href="{% url 'products:product_list' %}?search=&product_group=industrial-gear-oils&product_group=compressor-oils&product_group=circulating-oils&product_group=special-fluids&product_group=slideway-oils&product_group=quench-oils&product_group=mould-oils&page=1" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>
        <div class="swiper-slide swiper-slide_eight">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Marine lubricants" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Marine lubricants Page" href="{% url 'products:product_list' %}?search=&product_group=marine-oils&page=1" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>
        <div class="swiper-slide swiper-slide_nine">
          <div class="slide-content">
            <div class="section-header-title">{% trans "Turbine Oils" %}</div>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
              <a aria-label="Turbine Oils Page" href="{% url 'products:product_list' %}?search=&product_group=turbine-oils&page=1" class="button-style">{% trans "Discover more" %}</a> 

          </div>
        </div>

      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </header>
  
<main>
  <div class="product-categories">
    <div class="section-header">
      <h1>{% trans "PRODUCT GROUP" %}</h1>
    </div>
    <div class="container categories-grid">
      {% for product_group in product_groups %}
      <div class="category-card {% if forloop.counter > 8 %}hidden{% endif %}">
        <a href="{% url 'products:product_list' %}?product_group={{ product_group.slug }}" aria-label="H{{ product_group.title_translate }}">
          <div class="category-image">
            <img loading="lazy"
              src="{{ product_group.image.url }}"
              alt="{{ product_group.title_translate }} {% trans 'PRODUCT GROUP' %}"
            />
          </div>
          <div class="category-content">
            <h2 class="category-title">{{ product_group.title_translate|linebreaksbr }}</h2>
          </div>
        </a>
      </div>
      {% empty %}
        <div class="news-card">
          <div class="news-content">
            <h2>{% trans "No product_group available at the moment" %}</h2>
          </div>
        </div>
      {% endfor %}

    </div>

    {% if product_groups|length > 8 %}
    <button class="button-style" id="seeMoreBtn">{% trans "See more" %}</button>
    {% endif %}
  </div>

  <div class="our-values bg-blue">
    <div class="container our-values-section">
      <div>
        <img src="{% static 'images/values-format.webp' %}" alt="Value Image" />
      </div>
      <div class="values-content">
        <h2>{% trans "Our Values" %}</h2>
        <p>
          {% trans "The modernization of industry and renewal of equipment have increased demand for high-quality lubricants in Azerbaijan. To meet this, AMINOL Lubricants opened on December 15, 2017, in Sumgayit Chemical Industrial Park with a $20 million investment. The plant produces 150,000 tons annually, focusing on motor, hydraulic, transmission, compressor, turbine, and marine oils, along with antifreeze and AdBlue." %}
        </p>
        <a href="{% url 'about:about_page' %}" class="button-style" aria-label="About Page">{% trans "Discover more" %}</a>
      </div>
    </div>
  </div>

  <div class="aminol-worldwide container">
    <div>
      <video autoplay muted loop playsinline>
        <source src="{% static 'videos/globe1.webm' %}" type="video/webm" />
      </video>

    </div>
    <div class="aminol-worldwide-content">
      <h2>{% trans "Aminol Is Available Worldwide" %}</h2>
      <p>
        {% trans "Sales network in more than 50 countries in four continents." %} <br />
        {% trans "Would you like to buy our products or are you interested in a partnership?" %}
      </p>
      <a href="{% url 'contact:contact' %}" aria-label="Contact Page" class="button-style">{% trans "Get in contact" %}</a>
    </div>
  </div>

  <div class="container">
    <section class="production-section">
      <div class="section-background"></div>
      <div class="section-container">
        <div class="section-content" id="textContent">
          <h2>{% trans "Learn more" %}<br />{% trans "about production" %}</h2>
          <p>
            {% blocktrans %}
            "Aminol Lubricants produces and packages high-quality oils using premium imported base oils and additives, formulated by expert engineers." 
            {% endblocktrans %}
          </p>
        </div>
        <div class="play-button" id="playButton">
         <img src="{% static 'images/Polygon2.png' %}"  width="16" height="19" alt="">
          
        </div>
        <div class="video-container" id="videoContainer">
           <iframe width="560" loading="lazy" height="315" src="https://www.youtube-nocookie.com/embed/7NdBMqxDMrE?rel=0&showinfo=0&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>       
        </div>
      </div>
    </section>
  </div>

  <div class="innovation">
    <div class="section-header">
      <h2>{% trans "INNOVATION & TECHNOLOGY" %}</h2>
    </div>
    <div class="container innovation-technology">
      <div class="section slide-right">
        <div class="content">
          <h2>{% trans "Hybrid & EV lubricants" %}</h2>
          <p>{% trans "Choose sustainability with our Hybrid & EV lubricants" %}</p>
          <!-- <a href="#" class="button-style">{% trans "Discover more" %}</a> -->
        </div>
        <div class="image-container">
          <img loading="lazy"
            class="slide-under-img"
            src="{% static 'images/EV1.webp' %}"
            alt="Mask Group"
          />
          <img loading="lazy"
            class="innovation-image circle-img"
            src="{% static 'images/EV2.webp' %}"
            alt="{% trans 'Hybrid Lubricants' %}"
          />
        </div>
      </div>

      <div class="section slide-left">
        <div class="content">
          <h2>{% trans "Additives" %}</h2>
          <p>
            {% trans "Protect and keep your vehicle in top condition with our unique range of additives." %}
          </p>
          <!-- <a href="#" class="button-style">{% trans "Discover more" %}</a> -->
        </div>
        <div class="image-container">
          <img loading="lazy"
            class="innovation-image square-img"
            src="{% static 'images/ADDITIVES_LOGO.webp' %}"
            alt="{% trans 'Additives' %}"
          />
        </div>
      </div>
    </div>
  </div>

  <section class="news-section">
    <div class="section-header">
      <h2>{% trans "LATEST NEWS" %}</h2>
    </div>

    <div class="bg-blue">
      <div class="container latest-news">
      <div class="news-cards">
        {% for news in latest_news %}
        <div class="news-card">
          <div class="news-image">
            {% if news.image %}
            <img loading="lazy" src="{{ news.image.url }}" alt="{{ news.title_translate }}" />
            {% else %}
            <img loading="lazy" src="{% static 'images_folder/default-news.webp' %}" alt="{{ news.title_translate }}" />
            {% endif %}
          </div>
          <div class="news-content">
           
            <p>
              {{ news.content_translate|safe|truncatewords:10 }}
            </p>
 
            <a href="{% url 'news:news_detail' news.slug %}" aria-label="{{ news.title_translate }}"><h2>{{ news.title_translate|safe }}</h2> <span>{% trans "Read more" %} <i class="fa-solid fa-chevron-right"></i></span></a>
             
          </div>
        </div>
        {% empty %}
        {% endfor %}
      </div>
      <a href="{% url 'news:news_list' %}" aria-label="News Page" class="button-style">{% trans "Discover more" %}</a>
    </div>
    </div>
  </section>

  {% include 'components/gallery.html' %}
  {% include 'components/brochure.html' %}

</main>
{% endblock %}