{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'components/navbar.html' %}

  <header class="placeholder-header home-header">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide_one">
          <div class="slide-content">
            <h2>{% trans "Passenger car lubricants" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-slide_two">
          <div class="slide-content">
            <h2>{% trans "Heavy duty lubricants" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide_three">
          <div class="slide-content">
            <h2>{% trans "Motorcycle oils" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-slide_four">
          <div class="slide-content">
            <h2>{% trans "Transmission & Gear oils" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-slide_five">
          <div class="slide-content">
            <h2>{% trans "Hydraulic oils" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-slide_six">
          <div class="slide-content">
            <h2>{% trans "Agricultural lubricants" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide_seven">
          <div class="slide-content">
            <h2>{% trans "Industrial lubricants" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide_eight">
          <div class="slide-content">
            <h2>{% trans "Marine lubricants" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide_nine">
          <div class="slide-content">
            <h2>{% trans "Turbine Oils" %}</h2>
            <p>
              {% trans "Manufacturer of Lubricants, Lubricant Additive Packages & Deionised Fluids. Proudly Made in Azerbaijan" %}
            </p>
          </div>
        </div>
        
      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </header>

  <div class="product-categories">
    <div class="section-header">
      <h2>{% trans "PRODUCT GROUP" %}</h2>
    </div>
    <div class="container categories-grid">
      {% for product_group in product_groups %}
      <div class="category-card {% if forloop.counter > 8 %}hidden{% endif %}">
        <a href="{% url 'products:product_list' %}?product_group={{ product_group.slug }}">
          <div class="category-image">
            <img
              src="{{ product_group.image.url }}"
              alt="{{ product_group.title }}"
            />
          </div>
          <div class="category-content">
            <h3 class="category-title">{{ product_group.title }}</h3>
            <p class="category-desc">{{ product_group.description }}</p>
          </div>
        </a>
      </div>
      {% empty %}
        <div class="news-card">
          <div class="news-content">
            <h5>{% trans "No product_group available at the moment" %}</h5>
          </div>
        </div>
      {% endfor %}
    
    </div>
    
    {% if product_groups|length > 8 %}
    <button class="button-style" id="seeMoreBtn">{% trans "See more" %}</button>
    {% endif %}
  </div>

  <div class="our-values bg-blue">
    <div class="container our-values-section">
      <div>
        <img src="{% static 'images_folder/curve text.svg' %}" alt="" />
        <img src="{% static 'images_folder/values.svg' %}" alt="" />
      </div>
      <div class="values-content">
        <h3>{% trans "Our Values" %}</h3>
        <p>
          {% trans "The modernization of industry and renewal of equipment have increased demand for high-quality lubricants in Azerbaijan. To meet this, AMINOL Lubricants opened on December 15, 2017, in Sumgayit Chemical Industrial Park with a $20 million investment. The plant produces 150,000 tons annually, focusing on motor, hydraulic, transmission, compressor, turbine, and marine oils, along with antifreeze and AdBlue." %}
        </p>
        <a href="/about/" class="button-style">{% trans "Discover more" %}</a>
      </div>
    </div>
  </div>

  <div class="aminol-worldwide container">
    <div>
      <video autoplay muted loop playsinline style="width: 100%; height: auto">
        <source src="{% static 'videos/globe1.mp4' %}" type="video/mp4" />
      </video>
    </div>
    <div class="aminol-worldwide-content">
      <h2>{% trans "Aminol Is Available Worldwide" %}</h2>
      <p>
        {% trans "Sales network in more than 50 countries in four continents." %} <br />
        {% trans "Would you like to buy our products or are you interested in a partnership?" %}
      </p>
      <a href="/contact/" class="button-style">{% trans "Get in contact" %}</a>
    </div>
  </div>

  <div class="container">
    <section class="production-section">
      <div class="section-background"></div>
      <div class="section-container">
        <div class="section-content" id="textContent">
          <h2>{% trans "Learn more" %}<br />{% trans "about production" %}</h2>
          <p>
            {% trans "Aminol Lubricants produces and packages high-quality oils using premium imported base oils and additives, formulated by expert engineers." %}
          </p>
        </div>
        <div class="play-button" id="playButton">
          <i>►</i>
        </div>
        <div class="video-container" id="videoContainer">
         <iframe src="https://www.youtube.com/embed/nUTMgwKPOuo" title="AMINOL - SPECIAL GENERATION" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </div>

  <div class="innovation">
    <div class="section-header">
      <h2>{% trans "INNOVATION & TECHNOLOGY" %}</h2>
    </div>
    <div class="container innovation-technology">
      <div class="section slide-right">
        <div class="content">
          <h2>{% trans "Hybrid & EV lubricants" %}</h2>
          <p>{% trans "Choose sustainability with our Hybrid & EV lubricants" %}</p>
          <!-- <a href="#" class="button-style">{% trans "Discover more" %}</a> -->
        </div>
        <div class="image-container">
          <img
            class="slide-under-img"
            src="{% static 'images_folder/Mask group.svg' %}"
            alt=""
          />
          <img
            class="innovation-image"
            src="{% static 'images_folder/image.png' %}"
            alt="{% trans 'Hybrid & EV Lubricants' %}"
          />
        </div>
      </div>

      <div class="section slide-left">
        <div class="content">
          <h2>{% trans "Additives" %}</h2>
          <p>
            {% trans "Protect and keep your vehicle in top condition with our unique range of additives." %}
          </p>
          <!-- <a href="#" class="button-style">{% trans "Discover more" %}</a> -->
        </div>
        <div class="image-container">
          <img
            class="innovation-image"
            src="{% static 'images_folder/FR4A9609 1.png' %}"
            alt="{% trans 'Additives' %}"
          />
        </div>
      </div>
    </div>
  </div>

  <section class="news-section">
    <div class="section-header">
      <h2>{% trans "LATEST NEWS" %}</h2>
    </div>

    <div class="bg-blue">
      <div class="container latest-news">
      <div class="news-cards">
        {% for news in latest_news %}
        <div class="news-card">
          <div class="news-image">
            {% if news.image %}
            <img src="{{ news.image.url }}" alt="{{ news.title }}" />
            {% else %}
            <img src="{% static 'images_folder/default-news.svg' %}" alt="{{ news.title }}" />
            {% endif %}
          </div>
          <div class="news-content">
            <h5>{{ news.title }}</h5>
            <p>
              {{ news.content|truncatewords:10 }}
            </p>
            <a href="{% url 'news:news_detail' news.pk %}">{% trans "Read more" %} <i class="fa-solid fa-chevron-right"></i></a>
          </div>
        </div>
        {% empty %}
        {% endfor %}
      </div>
      <a href="/news/" class="button-style">{% trans "Discover more" %}</a>
    </div>
    </div>
  </section>

  {% include 'components/gallery.html' %}
  {% include 'components/brochure.html' %}

{% endblock %}