{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "markets_automotive_meta_title" %}{% endblock %}
{% block description %}{% trans "markets_automotive_meta_description" %}{% endblock %}
{% block keywords %}{% trans "markets_automotive_keywords" %}{% endblock %}

{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="markets-automotive">
    <header class="page-header">
        <div class="header-content">
            <h1>{% trans "Automotive" %}</h1>
            <p>{% trans "Lubricants for passenger cars, trucks, vans, motorcycles" %}</p>
        </div>
    </header>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">{% trans "Home page" %}</a>| <span>{% trans "Markets" %}</span>|
    <p>{% trans "Automotive" %}</p>
</div>

<div class="shared-images-section">
    <div class="container">
        <div class="shared-images-container">
            <div class="vertical-line"></div>

            {% for content in automotive_contents %}
            <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
                <div class="image-container">
                    <div class="circular-image">
                        <img loading="lazy" src="{{ content.image.url }}" alt="{{ content.title_translate }}" />
                    </div>
                </div>
                <div class="text-container {% if forloop.counter|divisibleby:2 %}text-left{% endif %}">
                    <h2>{{ content.title_translate|linebreaksbr }}</h2>
                    <p>{{ content.description_translate|linebreaksbr }}</p>
                </div>
            </div>

            <img loading="lazy" src="{% static '/images/yellow-point.webp' %}" class="droplet droplet-{{ forloop.counter }}" alt="{% trans 'Yellow Point' %}" />
            {% endfor %}
        </div>
    </div>
</div>

<!-- Shared Section -->
<div class="shared-section">
    <div class="shared-background"></div>
    <div class="container">
        <img loading="lazy"
            src="{{ automotive_service.image.url }}"
            alt="{{ automotive_service.title_translate }}"
            />
        <div class="shared-description">
            <h3>{{ automotive_service.title_translate|linebreaksbr }}</h3>
            <span>{{ automotive_service.description_translate|linebreaksbr }}</span>
            <a href="{% url 'services:aminol_dealer' %}" aria-label="Aminol Dealer Page" class="button-style">{% trans "Our Services" %}</a>
        </div>
    </div>
</div>

{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}