{% extends 'base.html' %} {% load static %} {% block content %}

{% include 'components/navbar_blur.html' %}

<div class="markets-industrial">
    <header class="page-header">
        <div class="header-content">
            <h2>Industrial</h2>
            <p>Lubricants for
                industrial equipments</p>
        </div>
    </header>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb container">
    <a href="/">Home page</a>| <span>Markets</span>|
    <p>Industrial</p>
</div>

<div class="shared-images-section">
    <div class="container">
        <div class="shared-images-container">
            <div class="vertical-line"></div>

            {% for content in industrial_contents %}
            <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
                <div class="image-container">
                    <div class="circular-image">
                        <img src="{{ content.image.url }}" alt="{{ content.title }}" />
                    </div>
                </div>
                <div class="text-container {% if forloop.counter|divisibleby:2 %}text-left{% endif %}">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.description }}</p>
                </div>
            </div>

            <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}" alt="Yellow Point" />
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="market-logos">
        <img src="{% static '/images/market-logos.png' %}" alt="" />
    </div>
</div>

<div class="services-offer-section container">
    <div class="text-container text-left">
        <h2>{{ industrial_service.title }}</h2>
        <p>
           {{ industrial_service.description }}
        </p>
    </div>
    <div class="services-offer-image">
        <img src="{{ industrial_service.image.url }}" alt="{{ industrial_service.title }}" />
    </div>
</div>

<section class="markets-comprehensive-section container">
    <div class="section-content">
        <h3>{{ industrial_service.industries_title }}</h3>
        <p>{{ industrial_service.industries_description }}</p>
    </div>

    <div class="section-grid">
        {% for industry in industries %}
        <div class="grid-item">
            <p>{{ industry.title }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Shared Section -->
<div class="shared-section">
    <div class="shared-background"></div>
    <div class="container">
        <img
            src="{{ automotive_service.image.url }}"
            alt="{{ automotive_service.title }}"
            />
        <div class="shared-description">
            <h3>{{ automotive_service.title }}</h3>
            <span>{{ automotive_service.description }}</span>
            <a href="#" class="button-style">Our Services</a>
        </div>
    </div>
</div>

{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}