{% extends 'base.html' %} {% load static %} {% block content %}

{% include 'components/navbar_blur.html' %}

<div class="markets-automotive">
    <header class="page-header">
        <div class="header-content">
            <h2>Automotive</h2>
            <p>Lubricants for passenger cars, trucks, vans, motorcycles</p>
        </div>
    </header>
</div>


<!-- Breadcrumb -->
<div class="breadcrumb container">
    <a href="/">Home page</a>| <span>Markets</span>|
    <p>Automotive</p>
</div>

<div class="shared-images-section">
    <div class="container">
        <div class="shared-images-container">
            <div class="vertical-line"></div>

            {% for content in automotive_contents %}
            <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
                <div class="image-container">
                    <div class="circular-image">
                        <img src="{{ content.image.url }}" alt="{{ content.title }}" />
                    </div>
                </div>
                <div class="text-container {% if forloop.counter|divisibleby:2 %}text-left{% endif %}">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.description }}</p>
                </div>
            </div>

            <img src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}" alt="Yellow Point" />
            {% endfor %}
        </div>
    </div>
</div>

<!-- Shared Section -->
<div class="shared-section">
    <div class="shared-background"></div>
    <div class="container">
        <img
            src="{{ automotive_service.image.url }}"
            alt="{{ automotive_service.title }}"
            />
        <div class="shared-description">
            <h3>{{ automotive_service.title }}</h3>
            <span>{{ automotive_service.description }}</span>
            <a href="#" class="button-style">Our Services</a>
        </div>
    </div>
</div>

{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}