{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="markets-shipping">
    <header class="page-header">
        <div class="header-content">
            <h2>{% trans "Shipping & Offshore" %}</h2>
            <p>{% trans "Lubricants for marine equipments" %}</p>
        </div>
    </header>
</div>

<!-- Breadcrumb -->

<div class="breadcrumb container">
    <a href="/">{% trans "Home page" %}</a>| <span>{% trans "Markets" %}</span>|
    <p>{% trans "Shipping & Offshore" %}</p>
</div>

<div class="shared-images-section">
    <div class="container">
        <div class="shared-images-container">
            <div class="vertical-line"></div>

            <div class="section-row ">
                <div class="image-container">
                    <div class="circular-image">
                        <img loading="lazy" src="{% static '/images/services-aminol-1.jpg' %}" alt="{% trans 'Strengthen your business' %}" />
                    </div>
                </div>
                <div class="text-container">
                    <h2>{% trans "Strengthen your business" %}</h2>
                    <p>
                        {% trans "If you choose Aminol, you choose for the growth of your business. As an Aminol dealer, we offer you a wide range of technical and commercial support, specifically designed to strengthen your operations." %}
                    </p>
                </div>
            </div>

            <img loading="lazy" src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-1" alt="{% trans 'Yellow Point' %}" />

            <div class="section-row row-reverse">
                <div class="image-container">
                    <div class="circular-image">
                        <img loading="lazy" src="{% static '/images/services-aminol-2.jpg' %}" alt="{% trans 'Availability' %}" />
                    </div>
                </div>
                <div class="text-container text-left">
                    <h2>{% trans "Availability" %}</h2>
                    <p>
                        {% trans "The Aminol Official Dealer formula is growing rapidly and is available in more and more countries. Depending on the country, the content of the formula can vary. Please contact Sales International for availability in your country." %}
                    </p>
                </div>
            </div>

            <img loading="lazy" src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-2" alt="{% trans 'Yellow Point' %}" />

        </div>
    </div>
</div>

<div class="container">
    <div class=" logos-section">
        <div id="wrapper2">
          <div id="carousel2">
            <div id="content2">
              {% for market in market_logos %}
              <img loading="lazy" src="{{ market.logo.url }}" class="item" alt="Market Logo" />
            {% endfor %}
            </div>
          </div>
          <button id="prev2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button id="next2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
              />
            </svg>
          </button>
        </div>
    </div>   
</div>

<div class="services-offer-section container">
    <div class="text-container text-left">
        <h2>{{ shipping_service.title_translate|linebreaksbr }}</h2>
        <p>
           {{ shipping_service.description_translate|linebreaksbr }}
        </p>
    </div>
    <div class="services-offer-image">
        <img loading="lazy" src="{{ shipping_service.image.url }}" alt="{{ shipping_service.title }}" />
    </div>
</div>

<section class="markets-comprehensive-section container">
    <div class="section-content">
        <h3>{{ industrial_service.industries_title_translate|linebreaksbr }}</h3>
        <p>{{ industrial_service.industries_description_translate|linebreaksbr }}</p>
    </div>

    <div class="section-grid">
        {% for industry in industries %}
        <div class="grid-item">
            <p>{{ industry.title_translate|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Shared Section -->
<div class="shared-section">
    <div class="shared-background"></div>
    <div class="container">
        <img loading="lazy" src="{% static '/images/shared-image1.png' %}" alt="{% trans 'Knowledge and support' %}">
        <div class="shared-description">
            <h3>{% trans "Knowledge and support" %}</h3>
            <span>{% trans "Our experienced team is ready to assist you with advice, technical and commercial support, and the latest industry developments. Discover our wide range of services and workshop materials on our service page." %}</span>
            <a href="#" class="button-style">{% trans "Our Services" %}</a>
        </div>
    </div>
</div>

{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}