{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="markets-industrial">
    <header class="page-header">
        <div class="header-content">
            <h2>{% trans "Industrial" %}</h2>
            <p>{% trans "Lubricants for industrial equipments" %}</p>
        </div>
    </header>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb container">
    <a href="/">{% trans "Home page" %}</a>| <span>{% trans "Markets" %}</span>|
    <p>{% trans "Industrial" %}</p>
</div>

<div class="shared-images-section">
    <div class="container">
        <div class="shared-images-container">
            <div class="vertical-line"></div>
            {% for content in industrial_contents %}
            <div class="section-row {% if forloop.counter|divisibleby:2 %}row-reverse{% endif %}">
                <div class="image-container">
                    <div class="circular-image">
                        <img loading="lazy" src="{{ content.image.url }}" alt="{{ content.title_translate }}" />
                    </div>
                </div>
                <div class="text-container {% if forloop.counter|divisibleby:2 %}text-left{% endif %}">
                    <h2>{{ content.title_translate|linebreaksbr }}</h2>
                    <p>{{ content.description_translate|linebreaksbr }}</p>
                </div>
            </div>

            <img loading="lazy" src="{% static '/images/yellow-point.svg' %}" class="droplet droplet-{{ forloop.counter }}" alt="{% trans 'Yellow Point' %}" />
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class=" logos-section">
        <div id="wrapper2">
          <div id="carousel2">
            <div id="content2">
              {% for market in market_logos %}
              <img loading="lazy" src="{{ market.logo.url }}" class="item" alt="Market Logo" />
            {% endfor %}
            </div>
          </div>
          <button id="prev2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button id="next2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
              />
            </svg>
          </button>
        </div>
    </div>   
</div>

<div class="services-offer-section container">
    <div class="text-container text-left">
        <h2>{{ industrial_service.title_translate|linebreaksbr }}</h2>
        <p>
           {{ industrial_service.description_translate|linebreaksbr }}
        </p>
    </div>
    <div class="services-offer-image">
        <img loading="lazy" src="{{ industrial_service.image.url }}" alt="{{ industrial_service.title_translate }}" />
    </div>
</div>

<section class="markets-comprehensive-section container">
    <div class="section-content">
        <h3>{{ industrial_service.industries_title_translate|linebreaksbr }}</h3>
        <p>{{ industrial_service.industries_description_translate|linebreaksbr }}</p>
    </div>

    <div class="section-grid">
        {% for industry in industries %}
        <div class="grid-item">
            <p>{{ industry.title_translate|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Shared Section -->
<div class="shared-section">
    <div class="shared-background"></div>
    <div class="container">
        <img loading="lazy"
            src="{{ automotive_service.image.url }}"
            alt="{{ automotive_service.title_translate }}"
            />
        <div class="shared-description">
            <h3>{{ automotive_service.title_translate|linebreaksbr }}</h3>
            <span>{{ automotive_service.description_translate|linebreaksbr }}</span>
            <a href="#" class="button-style">{% trans "Our Services" %}</a>
        </div>
    </div>
</div>

{% include 'components/gallery.html' %}
{% include 'components/brochure.html' %}

{% endblock %}