{% extends 'base.html' %} {% load static %} {% block content %}
<div class="news-page">
    {% include 'components/navbar_dark.html' %}

    <header class="page-header">
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a href="/">Home page</a>|<p>News</p>
    </div>


    <div class="container">
        <div class="news-top-content">
            <h2>News</h2>
            <p>Always up to date with our latest news</p>
        </div>
    </div>

    <section class="news-section">
        <div class="section-header">
            <h2>ALL ARTICLES</h2>
        </div>

        <div class="container latest-news">
            <div class="news-cards">
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/zavod.svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>ALCO LLC: Enhancing Eurozone Energy Security</h5>
                        <p>
                            The company has aimed to produce materials on par or exceeding
                            international standards, particularly because there is a deficit
                            of fairly...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/image (1).svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>Certified and approved for use in Mercedes Benz engines</h5>
                        <p>
                            ALCO aims to demonstrate to consumers around the world that
                            lubricants manufactured in Azerbaijan are on par or exceed OEM...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/image.svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>
                            First company in Azerbaijan to produce wind turbine lubricants
                        </h5>
                        <p>
                            Industrial gear oils have always been a position of interest for
                            ALCO. The company's focus on producing in line with international
                            trends has...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/zavod.svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>ALCO LLC: Enhancing Eurozone Energy Security</h5>
                        <p>
                            The company has aimed to produce materials on par or exceeding
                            international standards, particularly because there is a deficit
                            of fairly...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/image (1).svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>Certified and approved for use in Mercedes Benz engines</h5>
                        <p>
                            ALCO aims to demonstrate to consumers around the world that
                            lubricants manufactured in Azerbaijan are on par or exceed OEM...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-image">
                        <img src="{% static 'images_folder/image.svg' %}" alt="" />
                    </div>
                    <div class="news-content">
                        <h5>
                            First company in Azerbaijan to produce wind turbine lubricants
                        </h5>
                        <p>
                            Industrial gear oils have always been a position of interest for
                            ALCO. The company's focus on producing in line with international
                            trends has...
                        </p>
                        <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <a class="button-style" href="">Discover more</a>
        </div>
    </section>


    <section class="news-section">
        <div class="section-header">
            <h2>LATEST NEWS</h2>
        </div>
        <div class="bg-blue">
            <div class="container latest-news">
                <div class="news-cards">
                    <div class="news-card">
                        <div class="news-image">
                            <img src="{% static 'images_folder/zavod.svg' %}" alt="" />
                        </div>
                        <div class="news-content">
                            <h5>ALCO LLC: Enhancing Eurozone Energy Security</h5>
                            <p>
                                The company has aimed to produce materials on par or exceeding
                                international standards, particularly because there is a deficit
                                of fairly...
                            </p>
                            <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="news-image">
                            <img src="{% static 'images_folder/image (1).svg' %}" alt="" />
                        </div>
                        <div class="news-content">
                            <h5>Certified and approved for use in Mercedes Benz engines</h5>
                            <p>
                                ALCO aims to demonstrate to consumers around the world that
                                lubricants manufactured in Azerbaijan are on par or exceed OEM...
                            </p>
                            <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="news-card">
                        <div class="news-image">
                            <img src="{% static 'images_folder/image.svg' %}" alt="" />
                        </div>
                        <div class="news-content">
                            <h5>
                                First company in Azerbaijan to produce wind turbine lubricants
                            </h5>
                            <p>
                                Industrial gear oils have always been a position of interest for
                                ALCO. The company’s focus on producing in line with international
                                trends has...
                            </p>
                            <a href="">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/whatsapp.html' %}

</div>

{% endblock %}