{% extends 'base.html' %}
{% load static %}
{% load i18n %}  
{% block content %}
<div class="news-page">
    {% include 'components/navbar_dark.html' %}

    <header class="page-header">
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a href="/">{% trans "Home page" %}</a>|<p>{% trans "News" %}</p>
    </div>

    <div class="container">
        <div class="news-top-content">
            <h2>{% trans "News" %}</h2>
            <p>{% trans "Always up to date with our latest news" %}</p>
        </div>
    </div>

    <section class="news-section">
        <div class="section-header">
            <h2>{% trans "ALL ARTICLES" %}</h2>
        </div>

        <div class="container latest-news">
            <div class="news-cards">
                {% for news in all_news %}
                    <div class="news-card">
                        <div class="news-image">
                            {% if news.image %}
                                <img src="{{ news.image.url }}" alt="{{ news.title }}" />
                            {% else %}
                                <img src="{% static 'images_folder/zavod.svg' %}" alt="{% trans 'Default news image' %}" />
                            {% endif %}
                        </div>
                        <div class="news-content">
                            <h5>{{ news.title_translate|linebreaksbr }}</h5>
                            <p>{{ news.content_translate|truncatewords:10 }}</p>

                            <a href="{% url 'news:news_detail' news.pk %}">
                                {% trans "Read more" %} <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Latest News Section -->
    <section class="news-section">
        <div class="section-header">
            <h2>{% trans "LATEST NEWS" %}</h2>
        </div>
        <div class="bg-blue">
            <div class="container latest-news">
                <div class="news-cards">
                    {% for news in latest_news %}
                        <div class="news-card">
                            <div class="news-image">
                                {% if news.image %}
                                    <img src="{{ news.image.url }}" alt="{{ news.title_translate }}" />
                                {% else %}
                                    <img src="{% static 'images_folder/zavod.svg' %}" alt="{% trans 'Default news image' %}" />
                                {% endif %}
                            </div>
                            <div class="news-content">
                                <h5>{{ news.title_translate|linebreaksbr }}</h5>
                                <p>{{ news.content_translate|truncatewords:10 }}</p>
                                <a href="{% url 'news:news_detail' news.pk %}">
                                    {% trans "Read more" %} <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <p>{% trans "No latest news articles available." %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'components/whatsapp.html' %}
</div>
{% endblock %}
