{% extends 'base.html' %} {% load static %} {% block content %}
<div class="news-page">
    {% include 'components/navbar_dark.html' %}

    <header class="page-header">
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a href="/">Home page</a>|<p>News</p>
    </div>


    <div class="container">
        <div class="news-top-content">
            <h2>News</h2>
            <p>Always up to date with our latest news</p>
        </div>
    </div>

     <section class="news-section">
        <div class="section-header">
            <h2>ALL ARTICLES</h2>
        </div>

        <div class="container latest-news">
            <div class="news-cards">
                {% for news in all_news %}
                    <div class="news-card">
                        <div class="news-image">
                            {% if news.image %}
                                <img src="{{ news.image.url }}" alt="{{ news.title }}" />
                            {% else %}
                                <img src="{% static 'images_folder/zavod.svg' %}" alt="Default news image" />
                            {% endif %}
                        </div>
                        <div class="news-content">
                            <h5>{{ news.title }}</h5>
                            <p>
                                {{ news.content|truncatewords:20 }}
                            </p>
                            <a>Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                {% empty %}
                    <p>No news articles available.</p>
                {% endfor %}
            </div>
            <a class="button-style" href="{% url 'news:news_list' %}">Discover more</a>
        </div>
    </section>

    <!-- Latest News Section -->
    <section class="news-section">
        <div class="section-header">
            <h2>LATEST NEWS</h2>
        </div>
        <div class="bg-blue">
            <div class="container latest-news">
                <div class="news-cards">
                    {% for news in latest_news %}
                        <div class="news-card">
                            <div class="news-image">
                                {% if news.image %}
                                    <img src="{{ news.image.url }}" alt="{{ news.title }}" />
                                {% else %}
                                    <img src="{% static 'images_folder/zavod.svg' %}" alt="Default news image" />
                                {% endif %}
                            </div>
                            <div class="news-content">
                                <h5>{{ news.title }}</h5>
                                <p>
                                    {{ news.content|truncatewords:20 }}
                                </p>
                                <a>Read more <i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>
                    {% empty %}
                        <p>No latest news articles available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'components/whatsapp.html' %}

</div>

{% endblock %}