{% extends 'base.html' %} {% load static %} {% block content %} 



{% if product.product_group %}
{% include 'components/navbar.html' %}
<div class="news-page">
  <header class="page-header">
    <div class="header-content container">
      <h2>{{ product.product_group.title }}</h2>
      <p>
        {{ product.product_group.description }}
      </p>
    </div>
  </header>
</div>
{% else %}
{% include 'components/navbar_dark.html' %}
<div class="news-page">
  <header class="page-header">
    </header>
</div>
{% endif %}

<div class="breadcrumb container">
  <a href="{% url 'products:product_list' %}">Back to the overview</a>|
  <p>{{ product.title }}</p>
</div>

<section class="product-detail-section container">
  <div class="product-detail-container">
    <div class="product-details">
      <h2>{{ product.title }}</h2>
      <p class="product-id">{{ product.product_id }}</p>
      <p class="product-description">
        {{ product.description|linebreaksbr }}
      </p>
      <div class="product-detail-row">
        <div class="specification">
          <h3>Specification:</h3>
          {% if product.api %}
          <p>API <span>{{ product.api }}</span></p>
          {% endif %}
          {% if product.ilsac %}
          <p>ILSAC <span>{{ product.ilsac }}</span></p>
          {% endif %}
          {% if product.acea %}
          <p>ACEA <span>{{ product.acea }}</span></p>
          {% endif %}
          {% if product.jaso %}
          <p>JASO <span>{{ product.jaso }}</span></p>
          {% endif %}
          {% for segment in product.segments.all %}
          <p>Segment <span>{{ segment.title }}</span></p>
          {% endfor %}
          {% if product.oem_sertification %}
          <p>{{ product.oem_sertification|linebreaksbr }}</p>
          {% endif %}
        </div>
        <div class="recommendations">
          <h3>Recommendations:</h3>
          {% if product.recommendations %}
          <div class="recommendations-content">
            {{ product.recommendations|linebreaksbr }}
          </div>
          {% else %}
          <p>No specific recommendations available.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="product-image">
      <img src="{% static 'images/product-image.png' %}" alt="{{ product.title }}" />
    </div>
  </div>
  
  {% if available_liters %}
  <div class="product-litre">
    {% for liter in available_liters %}
    <span>{{ liter.volume }}L</span>
    {% endfor %}
  </div>
  {% endif %}
</section>

<section class="product-table-section container">
  <div class="product-table-container">
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Unit</th>
          <th>Test method</th>
          <th>Typical value</th>
        </tr>
      </thead>
      <tbody>
        {% for property in properties %}
        <tr>
          <td>{{ property.property_name }}</td>
          <td>{{ property.unit|default:"-" }}</td>
          <td>{{ property.test_method }}</td>
          <td>{{ property.typical_value }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">Bu məhsul üçün xüsusiyyət məlumatı mövcud deyil.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="table-btns">
    {% if product.pds_url %}
      <a href="{{ product.pds_url }}" target="_blank">
        PDS <i class="fa-solid fa-download"></i>
      </a>
    {% else %}
      <button disabled class="">
        PDS <i class="fa-solid fa-download"></i>
      </button>
    {% endif %}
    
    {% if product.sds_url %}
      <a href="{{ product.sds_url }}" target="_blank">
        SDS <i class="fa-solid fa-download"></i>
      </a>
    {% else %}
      <button disabled class="">
        SDS <i class="fa-solid fa-download"></i>
      </button>
    {% endif %}
  </div>
</section>

{% include 'components/whatsapp.html' %}
 {% endblock %}
