{% extends 'base.html' %} {% load static %} {% block content %}

<nav>
  <div class="navbar navbar-blur">
    <div class="container">
      <div class="navbar-left">
        <img src="{% static '/images/aminol-logo.svg' %}" alt="" />
      </div>
      <div class="navbar-right">
        <div class="nav-section">
          <div class="nav-top">
            <ul>
              <li><a href="">News</a></li>
              <li><a href="">Brand Portal</a></li>
              <li><a href="">Career</a></li>
              <li><a href="">Contact</a></li>
              <li class="lang-btn">
                <button class="btn-az">AZ</button>
                <button class="btn-en">EN</button>
              </li>
            </ul>
          </div>
          <div class="nav-bottom">
            <ul>
              <li><a href="">About us</a></li>
              <a class="dropdown">
                <a href="">Products<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a class="active" href="">Aminol official dealer</a>
                  <a href="">Aminol Laboratory</a>
                  <a href="">Aminol Logistics</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="">Markets<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="">Aminol official dealer</a>
                  <a href="">Aminol Laboratory</a>
                  <a href="">Aminol Logistics</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="">Services<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="">Aminol official dealer</a>
                  <a href="">Aminol Laboratory</a>
                  <a href="">Aminol Logistics</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <button class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="dropdown-background"></div>
</nav>
<div class="main-service-laboratory">
  <header
    class="page-header"
  ></header>

  <!-- Breadcrumb -->
  <div class="breadcrumb container">
    <span>Home page</span>| <span>Services</span>|
    <a href="">Aminol laboratory</a>
  </div>

  <div class="shared-images-section">
    <div class="container">
      <div class="shared-images-container">
        <div class="vertical-line"></div>
        <!-- First Row -->
        <div class="section-row row-reverse">
          <div class="image-container">
            <div class="circular-image">
              <img
                src="{% static '/images/service-laboratory-1.jpg' %}"
                alt="Strengthen your business"
              />
            </div>
          </div>
          <div class="text-container text-left">
            <h2>Reliable and precise</h2>
            <p>
              We are capable of carrying out reliable tests – to the accuracy of
              a millionth of a particle. We have installed the necessary
              equipment to allow us to test lubricants for literally any
              parameter required. We take every opportunity we have to randomly
              test our products against ATIEL, ISO, API and OEM standards. Our
              laboratory is independent of the management structure and delivers
              impartial results.
            </p>
          </div>
        </div>

        <!-- Second Row -->
        <div class="section-row">
          <div class="image-container">
            <div class="circular-image">
              <img src="{% static '/images/service-laboratory-2.jpg' %}" alt="Availability" />
            </div>
          </div>
          <div class="text-container">
            <h2>Research and development</h2>
            <p>
              Our personnel is encouraged to carry out tests that show where our
              products lack. We use these tests to improve the tribological
              characteristics of our products while optimizing our formulas. We
              also use analyses and tests to develop new products which have
              never been carried out in Azerbaijan and sometimes in the CIS
              region as a whole.
            </p>
          </div>
        </div>

        <!-- Third Row -->
        <div class="section-row row-reverse">
          <div class="image-container">
            <div class="circular-image">
              <img
                src="{% static '/images/service-laboratory-3.jpg' %}"
                alt="AMINOL Factory Workers"
              />
            </div>
          </div>
          <div class="text-container">
            <h2></h2>
            <p>
              - Accurate measurements down to a millionth of a particle. <br />
              - Completely autonomous structure within the company. <br />
              - Tests performed based on international standards. <br />
              - Reliable results. - Research and development capabilities.
              <br />
              - The ability to perform tests associated with all parameters of
              petro-chemicals, particularly lubricants. <br />
              - Total investment: 6 million USD
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    <h2>LATEST NEWS</h2>
  </div>

  <section class="aminol-latest-news container">
    <div class="news-container">
      <div class="news-card">
        <img src="{% static '/images/latest-news-1.png' %}" alt="ALCO LLC storage tanks" />
        <div class="news-content">
          <h3 class="news-title">
            ALCO LLC: Enhancing Eurozone Energy Security
          </h3>
          <p class="news-description">
            The company has aimed to produce materials on par or exceeding
            international standards, particularly because there is a deficit of
            fairly...
          </p>
          <a href="#" class="read-more">
            Read more
            <svg
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19M19 12L12 5M19 12L12 19"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="news-card">
        <img src="{% static '/images/latest-news-2.png' %}" alt="Mercedes Benz flags" />
        <div class="news-content">
          <h3 class="news-title">
            Certified and approved for use in Mercedes Benz engines
          </h3>
          <p class="news-description">
            ALCO aims to demonstrate to consumers around the world that
            lubricants manufactured in Azerbaijan are on par or exceed OEM...
          </p>
          <a href="#" class="read-more">
            Read more
            <svg
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19M19 12L12 5M19 12L12 19"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="news-card">
        <img src="{% static '/images/latest-news-3.png' %}" alt="Offshore wind turbines" />
        <div class="news-content">
          <h3 class="news-title">
            First company in Azerbaijan to produce wind turbine lubricants
          </h3>
          <p class="news-description">
            Industrial gear oils have always been a position of interest for
            ALCO. The company's focus on producing in line with international
            trends has...
          </p>
          <a href="#" class="read-more">
            Read more
            <svg
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19M19 12L12 5M19 12L12 19"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="discover-more-container">
      <a href="#" class="discover-more-btn primary">Discover more</a>
      <a href="#" class="discover-more-btn secondary">Discover more</a>
    </div>
  </section>
</div>

{% endblock %}