{% extends 'base.html' %} 
{% load static %} 
{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="service-aminol-dealer">
  <header class="page-header"></header>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb container">
  <a href="/">Home page</a>| <span>Services</span>|
  <p>Aminol official dealer</p>
</div>

{% if dealer %}
<div class="shared-images-section">
  <div class="container">
    <div class="shared-images-container">
      <div class="vertical-line"></div>
      
      {% for content in dealer_contents %}
      <!-- Content Row -->
      <div class="section-row {% if forloop.counter|divisibleby:2 %}{% else %}row-reverse{% endif %}">
        <div class="image-container">
          <div class="circular-image">
            <img
              src="{{ content.image.url }}"
              alt="{{ content.title }}"
            />
          </div>
        </div>
        <div class="text-container {% if forloop.counter|divisibleby:2 %}{% else %}text-left{% endif %}">
          <h2>{{ content.title }}</h2>
          <p>{{ content.description }}</p>
        </div>
      </div>

      <img
        src="{% static '/images/yellow-point.svg' %}"
        class="droplet droplet-{{ forloop.counter }}"
        alt="Yellow Point"
      />
      {% endfor %}
    </div>
  </div>
</div>

<div class="services-offer-section container">
  <div class="text-container text-left">
    <h2>{{ dealer.title }}</h2>
    <p>{{ dealer.description }}</p>
  </div>
  <div class="services-offer-image">
    <img
      src="{{ dealer.image.url }}"
      alt="{{ dealer.title }}"
    />
  </div>
</div>
{% endif %}

{% include 'components/contactcomponent.html' %}

{% include 'components/brochure.html' %}

{% endblock %}