{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="main-service-logistics">
  <header class="page-header"></header>

  <!-- Breadcrumb -->
  <div class="breadcrumb container">
  <a href="/">{% trans "Home page" %}</a>| <span>{% trans "Services" %}</span>|
  <p>{% trans "Aminol logistics" %}</p>
  </div>

 <div>
    <div class="page-wrapper">
      <main class="main-content">
        <section id="preview" class="preview section-margin-b-m">
          <div class="preview__content">
            <div id="map-container">

            </div>
            <link href="{% static 'assets/css/map.css' %}" rel="stylesheet" />
            <script src="{% static 'assets/js/raphael.min.js' %}"></script>
            <script src="{% static 'assets/js/settings.js' %}"></script>
            <script src="{% static 'assets/js/paths.js' %}"></script>
            <script src="{% static 'assets/js/map.js' %}"></script>
            <script>
              map_cfg.mapWidth = 0;
              var map = new FlaMap(map_cfg);
              map.drawOnDomReady("map-container");
            </script>
          </div>
        </section>
      </main>
    </div>
  </div>

  <div class="shared-images-section">
    <div class="container">
      <div class="shared-images-container">
        <div class="vertical-line"></div>

        {% for logistic in logistics %}
        <!-- Content Row -->
        <div class="section-row {% if forloop.counter|divisibleby:2 %}{% else %}row-reverse{% endif %}">
          <div class="image-container">
            <div class="circular-image">
              <img loading="lazy"
                src="{{ logistic.image.url }}"
                alt="{{ logistic.title_translate }}"
              />
            </div>
          </div>
          <div class="text-container {% if forloop.counter|divisibleby:2 %}{% else %}text-left{% endif %}">
            <h2>{{ logistic.title_translate|linebreaksbr }}</h2>
            <p>{{ logistic.description_translate|linebreaksbr }}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <section class="news-section">
    <div class="section-header">
      <h2>{% trans "LATEST NEWS" %}</h2>
    </div>

    <div class="container latest-news">
      <div class="news-cards">
        {% for news in latest_news %}
        <div class="news-card">
          <div class="news-image">
            {% if news.image %}
            <img loading="lazy" src="{{ news.image.url }}" alt="{{ news.title_translate }}" />
            {% else %}
            <img loading="lazy" src="{% static 'images_folder/default-news.svg' %}" alt="{{ news.title_translate }}" />
            {% endif %}
          </div>
          <div class="news-content">
            <h5>{{ news.title_translate|linebreaksbr }}</h5>
            <p>
              {{ news.content_translate|truncatewords:10 }}
            </p>
            <a href="{% url 'news:news_detail' news.pk %}">Read more <i class="fa-solid fa-chevron-right"></i></a>
          </div>
        </div>
        {% empty %}
        
        {% endfor %}
      </div>
      <a href="/news/" class="button-style">{% trans "Discover more" %}</a>
    </div>
  </section>
</div>

{% include 'components/whatsapp.html' %}

{% endblock %}