{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "service_logistics_meta_title" %}{% endblock %}
{% block description %}{% trans "service_logistics_meta_description" %}{% endblock %}
{% block page_js %}
   <script src="{% static 'assets/js/map1.min.js' %}" defer></script>
  <script src="{% static 'assets/js/map2.min.js' %}" defer></script>
<script src="{% static 'assets/js/map3.min.js' %}" defer></script>
<script src="{% static 'assets/js/map4.min.js' %}" defer></script>
{% endblock %}

{% block extra_schema %}
<script type="application/ld+json" data-version="{% now 'U' %}">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Aminol Logistics",
  "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'services:logistics' %}",
  "logo": {
    "@type": "ImageObject",
    "url": "{{ request.scheme }}://{{ request.get_host }}{% static 'logo/aminol-logo.svg' %}"
  },
  "description": "{% trans 'Aminol Logistics provides efficient and global distribution services for lubricants and oil-related products, ensuring timely delivery worldwide.' %}",
  "image": [
    {% for logistic in logistics %}
      "{{ request.scheme }}://{{ request.get_host }}{{ logistic.image.url }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Baku",
    "addressCountry": "AZ"
  },
  "areaServed": {
    "@type": "Place",
    "name": "Worldwide"
  },
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Logistics Services",
    "itemListElement": [
      {% for logistic in logistics %}
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "{{ logistic.title_translate|striptags }}",
            "description": "{{ logistic.description_translate|striptags }}"
          }
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Customer Service",
    "email": "info@aminol.az",
    "url": "{{ request.scheme }}://{{ request.get_host }}"
  }
}
</script>
{% endblock %}


{% block content %}

{% include 'components/navbar_blur.html' %}

<div class="main-service-logistics">
  <header class="page-header"></header>

  <!-- Breadcrumb -->
  <div class="breadcrumb container">
  <a href="{% url 'home:home' %}" aria-label="Home Page">{% trans "Home page" %}</a>| <span>{% trans "Services" %}</span>|
  <h1>{% trans "Aminol logistics" %}</h1>
  </div>

 <div class="map-section">
  <div class="section-header">
      <h2>{% trans "Global Export Presence" %}</h2>
    </div>
    <div class="page-wrapper">
      <main class="main-content">
        <section id="preview" class="preview section-margin-b-m">
          <div class="preview__content">
            <div id="map-container">

            </div>
            <link href="{% static 'assets/css/map.css' %}" rel="stylesheet" />
            <script src="{% static 'assets/js/raphael.min.js' %}" defer></script>
            <script src="{% static 'assets/js/settings.js' %}" defer></script>
            <script src="{% static 'assets/js/paths.js' %}" defer></script>
            <script src="{% static 'assets/js/map.js' %}" defer></script>
            <script>
              map_cfg.mapWidth = 0;
              var map = new FlaMap(map_cfg);
              map.drawOnDomReady("map-container");
            </script>
          </div>
        </section>
      </main>
    </div>
  </div>

  <div class="shared-images-section">
    <div class="container">
      <div class="shared-images-container">
        <div class="vertical-line"></div>

        {% for logistic in logistics %}
        <!-- Content Row -->
        <div class="section-row {% if forloop.counter|divisibleby:2 %}{% else %}row-reverse{% endif %}">
          <div class="image-container">
            <div class="circular-image">
              <img loading="lazy"
                src="{{ logistic.image.url }}"
                alt="{{ logistic.title_translate }}"
              />
            </div>
          </div>
          <div class="text-container {% if forloop.counter|divisibleby:2 %}{% else %}text-left{% endif %}">
            <h2>{{ logistic.title_translate|linebreaksbr }}</h2>
            <p>{{ logistic.description_translate|linebreaksbr }}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <section class="news-section">
    <div class="section-header">
      <h2>{% trans "LATEST NEWS" %}</h2>
    </div>

    <div class="container latest-news">
      <div class="news-cards">
        {% for news in latest_news %}
        <div class="news-card">
          <div class="news-image">
            {% if news.image %}
            <img loading="lazy" src="{{ news.image.url }}" alt="{{ news.title_translate }}" />
            {% else %}
            <img loading="lazy" src="{% static 'images_folder/default-news.webp' %}" alt="{{ news.title_translate }}" />
            {% endif %}
          </div>
          <div class="news-content">
            <p>
              {{ news.content_translate|truncatewords:10 }}
            </p>
              <a href="{% url 'news:news_detail' news.pk %}" aria-label="{{ news.title_translate }}"><h2>{{ news.title_translate|linebreaksbr }}</h2> <span>{% trans "Read more" %} <i class="fa-solid fa-chevron-right"></i></span></a>
          </div>
        </div>
        {% empty %}
        
        {% endfor %}
      </div>
      <a href="{% url 'news:news_list' %}" aria-label="News list" class="button-style">{% trans "Discover more" %}</a>
    </div>
  </section>
</div>

{% include 'components/whatsapp.html' %}

{% endblock %}