{% load static %}
{% load i18n %}

<div class="container">
 <div class="brochure">
   <img loading="lazy" src="{% static 'images/PRODUCTS.webp' %}" alt="Aminol Broshur" />
 </div>
</div>

<div class="partners-section">
  <div class="container partners-section-content">
    <div class="section-content">
      <h4>{% trans "Power. Protection. Performance." %}</h4>
      <p>
        {% trans "Aminol delivers the strength your machines need, the protection they rely on, and the performance you expect—every time." %}
      </p>
    </div>
     
     <!-- <div class="section-content">
      <h2>{% trans "Our Suppliers" %}</h2>
    </div>
  
     <div class="logos-section">
      <div id="wrapper1">
        <div id="carousel1">
          <div id="content1">
            {% for supplier in supplier_logos %}
              <img loading="lazy" src="{{ supplier.image.url }}" class="item" alt="{% trans 'Supplier Logo' %}" />
            {% endfor %}
          </div>
        </div>
        <button id="prev1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
              d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
            />
          </svg>
        </button>
        <button id="next1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
              d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
            />
          </svg>
        </button>
      </div>
    </div> -->

    <div class="section-content">
      <h5>{% trans "Our Partners" %}</h5>
    </div>
    <div class=" logos-section">
        <div id="wrapper3">
          <div id="carousel3">
            <div id="content3">
              {% for partner in partner_logos %}
              <img loading="lazy" src="{{ partner.logo.url }}" class="item" alt="{% trans 'Partner Logo' %}" />
            {% endfor %}
            </div>
          </div>
          <button id="prev3" aria-label="Previous">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button id="next3" aria-label="Next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
              />
            </svg>
          </button>
        </div>
      </div>

 

  </div>
</div>

<div class="whatsapp-section">
  <a href="https://wa.me/994502220607" aria-label="Whatsapp number"
    >{% trans "Ask your question on Whatsapp" %}
    <img loading="lazy" src="{% static 'images_folder/Vector.svg' %}" alt="Whatsapp icon" />
  </a>
</div>