{% load static %}

<div class="container brochure">
    <img src="{% static 'images_folder/aminol broshur cvr 1.svg' %}" alt="" />
</div>

<div class="partners-section ">
    <div class="container partners-section-content">
        <div class="section-content">
            <h2>We Are Powered By Our Partners</h2>
            <p>
                Remittance acts as a bridge, connecting loved ones and making the world
                a little smaller. We are dedicated to forging strategic partnerships
                which help us help you send money around the globe quickly, safely and
                affordably.
            </p>
        </div>
        <div class="partners-section-images">
            <img src="{% static 'images_folder/lubrizol-large 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/inf 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/aft 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/basf 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/chev 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/youbase 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/eni 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/neste 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/dowpol 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/sasol 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/clariant 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/exxon 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/Emery_1 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/Evonik_logo_2020 1.png}" alt="" />
            <img src="{% static 'images_folder/logo-italmatch 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/mauser 1.svg' %}" alt="" />
            <img src="{% static 'images_folder/munzing 1.svg' %}" alt="" />
        </div>
    </div>
</div>

<div class="whatsapp-section">
    <a href="">Ask your question on Whatsapp
        <img src="{% static 'images_folder/Vector.svg' %}" alt="" />
    </a>
</div>