{% load static %}
{% load i18n %}

<div class="container brochure">
  <img src="{% static 'images_folder/aminol broshur cvr 1.svg' %}" alt="" />
</div>

<div class="partners-section">
  <div class="container partners-section-content">
    <div class="section-content">
      <h2>{% trans "Power. Protection. Performance." %}</h2>
      <p>
        {% trans "Aminol delivers the strength your machines need, the protection they rely on, and the performance you expect—every time." %}
      </p>
    </div>

     <div class="section-content">
      <h2>{% trans "Our Suppliers" %}</h2>
    </div>

    <div class="logos-section">
      <div id="wrapper">
        <div id="carousel">
          <div id="content">
            {% for partner in partner_logos %}
              <img src="{{ partner.logo.url }}" class="item" alt="{% trans 'Partner Logo' %}" />
            {% endfor %}
          </div>
        </div>
        <button id="prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
              d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
            />
          </svg>
        </button>
        <button id="next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
              d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="section-content">
      <h2>{% trans "Our Partners" %}</h2>
    </div>

    <div class=" logos-section">
        <div id="wrapper2">
          <div id="carousel2">
            <div id="content2">
              {% for partner in partner_logos %}
              <img src="{{ partner.logo.url }}" class="item" alt="{% trans 'Partner Logo' %}" />
            {% endfor %}
            </div>
          </div>
          <button id="prev2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button id="next2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
              />
            </svg>
          </button>
        </div>
      </div>
  </div>
</div>

<div class="whatsapp-section">
  <a href=""
    >{% trans "Ask your question on Whatsapp" %}
    <img src="{% static 'images_folder/Vector.svg' %}" alt="" />
  </a>
</div>