{% load static %}
{% load i18n %}

<footer class="container">
  <div class="footer-content">
    <div>
        <a href="{% url 'home:home' %}"><img src="{% static 'logo/aminol-logo.svg' %}" alt="" /></a>
        <p>
            {% trans "Reliable Lubricant Manufacturer." %} <br />
            {% trans "Engineered for Performance, Trusted for Protection." %}
        </p>
    </div>
    <div class="footer-row">
        <ul>
            <li>
                <a href="{% url 'about:about_page' %}">{% trans "About Us" %}</a>
                <a href="{% url 'products:product_list' %}">{% trans "Products" %}</a>
            </li>
            <li>
                <a href="{% url 'services:aminol_dealer' %}">{% trans "Services" %}</a>
                <a href="{% url 'faq:faq' %}">{% trans "FAQ" %}</a>
            </li>
            <li>
                <a href="{% url 'news:news_list' %}">{% trans "News" %}</a>
                <a href="{% url 'contact:contact' %}">{% trans "Contact" %}</a>
            </li>
        </ul>
        <button id="scrollToTop"><i class="fa-solid fa-chevron-up"></i></button>
    </div>
</div>
  <hr class="custom-hr" />
  <div class="footer-contact">
    <div>
      <p>{% trans "Vali Mammadov Street 1/3, Old City, Baku, Azerbaijan, AZ1000" %}</p>
      <p><a >+994 12 585 10 05</a><a >+994 12 505 68 11</a></p>
      <p><a>info@aminol.az</a></p>
    </div>
    <div class="">
      <a href="https://wa.me/994502220607">
        <img src="{% static 'images_folder/Vector (1).webp' %}" alt="Whatsapp" />
      </a>
      <a href="https://www.youtube.com/@aminollubricants7877"  target="_blank" >
        <img src="{% static 'images_folder/Group 48095788.webp' %}" alt="Youtube" />
      </a>
      <a href="https://linkedin.com/company/aminol">
        <img src="{% static 'images_folder/_Linkedin.webp' %}"  target="_blank" alt="Linkedn" />
      </a>
      <a href="https://www.instagram.com/aminol_official?igsh=MTM5bmZnejhxOWhzZw==" target="_blank">
        <img src="{% static 'images_folder/Group 48095787.webp' %}" alt="Instagram" />
      </a>
    </div>
  </div>
  <hr class="custom-hr" />
  <div class="alco-privacy">
    <p>{% trans "© 2025 ALCO LLC. All right reserved." %}</p>
    <p>{% trans "Terms and Condition" %} - {% trans "Privacy Policy" %}</p>
  </div>
</footer>