{% load static %}
{% load i18n %}

{% block page_css %}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block page_js %}
  <script>
document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector('.swiper')) {
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
        script.defer = true;
        document.body.appendChild(script);
    }
});
</script>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js"></script>
{% endblock %}


<section class="gallery-section">
    <div class="section-header">
        <h2>{% trans "GALLERY" %}</h2>
    </div>
    <div class="swiper labSwiper">
        <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide">
                <img loading="lazy" src="{{ image.image.url }}" alt="Laboratuvar ekipmanı" />
            </div>
            {% endfor %}
            
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>