{% load static %}

<section class="gallery-section">
    <div class="section-header">
        <h2>GALLERY</h2>
    </div>
    <div class="swiper labSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{% static 'images_folder/8Z3A7218.png' %}" alt="Laboratuvar ekipmanı" />
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images_folder/8Z3A7274 (1).png' %}" alt="Laboratuvarda bilim insanı" />
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images_folder/8Z3A7274.png' %}" alt="Ekipmanlı laboratuvar" />
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images_folder/FR4A9403.svg' %}" alt="Modern laboratuvar" />
            </div>
            <div class="swiper-slide">
                <img src="{% static 'images_folder/8Z3A7218.png' %}" alt="Laboratuvar test düzeneği" />
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>