{% load static %}
{% load i18n %}

<!-- CSRF token meta tag əlavə edin -->
<meta name="csrf-token" content="{{ csrf_token }}">

<nav>
  <div class="navbar">
    <div class="container">
      <a href="{% if LANGUAGE_CODE == 'az' %}/az/{% else %}/{% endif %}" class="navbar-left">
        <img loading="lazy" class="aminol-logo" src="{% static '/images/aminol-logo.svg' %}" alt="Aminol logo" />
      </a>
      <div class="navbar-right">
        <div class="nav-section">
          <div class="nav-top">
            <ul>
              <li><a class="" href="{% if LANGUAGE_CODE == 'az' %}/az/news{% else %}/news{% endif %}">{% trans "News" %}</a></li>
              <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/brand_portal{% else %}/brand_portal{% endif %}">{% trans "Brand Portal" %}</a></li>
              <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/contact{% else %}/contact{% endif %}">{% trans "Contact" %}</a></li>
              <li class="lang-btn">
                <button class="btn-az {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
                        data-lang="az" type="button">AZ</button>
                <button class="btn-en {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
                        data-lang="en" type="button">EN</button>
              </li>
            </ul>
          </div>
          <div class="nav-bottom">
            <ul>
              <li><a class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                     href="{% if LANGUAGE_CODE == 'az' %}/az/about{% else %}/about{% endif %}">{% trans "About us" %}</a></li>
              <li><a class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}"
                     href="{% if LANGUAGE_CODE == 'az' %}/az/product{% else %}/product{% endif %}">{% trans "Products" %}</a></li>
              <li class="dropdown">
                <a class="dropdown-head">{% trans "Markets" %}<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_automotive{% else %}/markets_automotive{% endif %}">{% trans "Automotive" %}</a>
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_industrial{% else %}/markets_industrial{% endif %}">{% trans "Industrial" %}</a>
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_shipping{% else %}/markets_shipping{% endif %}">{% trans "Shipping & Offshore" %}</a>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-head">{% trans "Services" %}<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_aminol_dealer{% else %}/service_aminol_dealer{% endif %}">{% trans "Aminol official dealer" %}</a>
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_laboratory{% else %}/service_laboratory{% endif %}">{% trans "Aminol Laboratory" %}</a>
                  <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_logistics{% else %}/service_logistics{% endif %}">{% trans "Aminol Logistics" %}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile language buttons -->
        <div class="mobile-lang-btn">
          <button class="btn-az {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
                  data-lang="az" type="button">AZ</button>
          <button class="btn-en {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
                  data-lang="en" type="button">EN</button>
        </div>

        <button class="hamburger" id="hamburger">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="dropdown-background"></div>
  </div>
</nav>

<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-nav-top">
    <ul>
      <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/news{% else %}/news{% endif %}">{% trans "News" %}</a></li>
      <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/brand_portal{% else %}/brand_portal{% endif %}">{% trans "Brand Portal" %}</a></li>
      <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/contact{% else %}/contact{% endif %}">{% trans "Contact" %}</a></li>
    </ul>
  </div>
  <div class="mobile-nav-bottom">
    <ul>
      <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/about{% else %}/about{% endif %}">{% trans "About us" %}</a></li>
      <li><a href="{% if LANGUAGE_CODE == 'az' %}/az/product{% else %}/product{% endif %}">{% trans "Products" %}</a></li>
      <li class="mobile-dropdown">
        <a class="mobile-dropdown-head">
          {% trans "Markets" %}<i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="mobile-dropdown-content">
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_automotive{% else %}/markets_automotive{% endif %}">{% trans "Automotive" %}</a>
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_industrial{% else %}/markets_industrial{% endif %}">{% trans "Industrial" %}</a>
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/markets_shipping{% else %}/markets_shipping{% endif %}">{% trans "Shipping & Offshore" %}</a>
        </div>
      </li>
      <li class="mobile-dropdown">
        <a class="mobile-dropdown-head">
          {% trans "Services" %}<i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="mobile-dropdown-content">
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_aminol_dealer{% else %}/service_aminol_dealer{% endif %}">{% trans "Aminol official dealer" %}</a>
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_laboratory{% else %}/service_laboratory{% endif %}">{% trans "Aminol Laboratory" %}</a>
          <a href="{% if LANGUAGE_CODE == 'az' %}/az/service_logistics{% else %}/service_logistics{% endif %}">{% trans "Aminol Logistics" %}</a>
        </div>
      </li>
    </ul>
  </div>
</div>