{% load static %}
{% load i18n %}
<nav>
  <div class="navbar navbar-dark">
    <div class="container">
      <a href="/" class="navbar-left">
        <img class="aminol-logo-light" src="{% static '/images/Aminol-logo-light.svg' %}" alt="Aminol logo light" />
      </a>
      <div class="navbar-right">
        <div class="nav-section">
          <div class="nav-top">
            <ul>
              <li><a class="" href="/news">{% trans "News" %}</a></li>
              <li><a href="/brand_portal">{% trans "Brand Portal" %}</a></li>
              <li><a href="/contact">{% trans "Contact" %}</a></li>
              <li class="lang-btn">
                <button class="btn-az {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
                        data-lang="az" type="button">AZ</button>
                <button class="btn-en {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
                        data-lang="en" type="button">EN</button>
              </li>
            </ul>
          </div>
          <div class="nav-bottom">
            <ul>
              <li><a class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                     href="/about">{% trans "About us" %}</a></li>
              <li><a class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}"
                     href="/product">{% trans "Products" %}</a></li>
              <li class="dropdown">
                <a class="dropdown-head">{% trans "Markets" %}<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="/markets_automotive">{% trans "Automotive" %}</a>
                  <a href="/markets_industrial">{% trans "Industrial" %}</a>
                  <a href="/markets_shipping">{% trans "Shipping & Offshore" %}</a>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-head">{% trans "Services" %}<i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                  <a href="/service_aminol_dealer">{% trans "Aminol official dealer" %}</a>
                  <a href="/service_laboratory">{% trans "Aminol Laboratory" %}</a>
                  <a href="/service_logistics">{% trans "Aminol Logistics" %}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile language buttons -->
        <div class="mobile-lang-btn">
          <button class="btn-az {% if LANGUAGE_CODE == 'az' %}active{% endif %}"
                  data-lang="az" type="button">AZ</button>
          <button class="btn-en {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
                  data-lang="en" type="button">EN</button>
        </div>

        <button class="hamburger" id="hamburger">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="dropdown-background"></div>
  </div>
</nav>


<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-nav-top">
    <ul>
      <li><a href="/news">{% trans "News" %}</a></li>
      <li><a href="/brand_portal">{% trans "Brand Portal" %}</a></li>
      <li><a href="/contact">{% trans "Contact" %}</a></li>
    </ul>
  </div>
  <div class="mobile-nav-bottom">
    <ul>
      <li><a href="/about">{% trans "About us" %}</a></li>
      <li><a href="/product">{% trans "Products" %}</a></li>
      <li class="mobile-dropdown">
        <a class="mobile-dropdown-head">
          {% trans "Markets" %}<i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="mobile-dropdown-content">
          <a href="/markets_automotive">{% trans "Automotive" %}</a>
          <a href="/markets_industrial">{% trans "Industrial" %}</a>
          <a href="/markets_shipping">{% trans "Shipping & Offshore" %}</a>
        </div>
      </li>
      <li class="mobile-dropdown">
        <a class="mobile-dropdown-head">
          {% trans "Services" %}<i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="mobile-dropdown-content">
          <a href="/service_aminol_dealer">{% trans "Aminol official dealer" %}</a>
          <a href="/service_laboratory">{% trans "Aminol Laboratory" %}</a>
          <a href="/service_logistics">{% trans "Aminol Logistics" %}</a>
        </div>
      </li>
    </ul>
  </div>
</div>

