.product-content {
  margin: 70px auto;
}

.product-content h2 {
  color: #28315e;
  font-weight: 600;
  font-size: 42px;
  line-height: 75px;
  letter-spacing: -1%;
}

.product-content p {
  color: #28315e;
  max-width: 82%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.products-section {
  margin: 50px auto;
}

.products-section .products-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: start;
}

.products-section .products-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.products-section .products-list .no-products p {
      color: #28315e;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.03px;
    letter-spacing: 0px;
}

.products-section .product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-section .product-card .product-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section .product-card .product-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-position: center;
}

.products-section .product-card .product-info {
  width: 100%;
  background-color: #f6f9ff;
  color: #28315e;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.products-section .product-card .product-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.products-section .product-card .product-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.products-section .product-card .product-id {
  font-weight: 300;
  font-size: 12px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.products-section .btn-more {
  color: #f92b3f;
  font-weight: 500;
  font-size: 12px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.products-section .btn-more i {
  color: #f92b3f;
  font-size: 12px;
  margin-left: 8px;
}

/* FILTER SECTION */

.products-section .filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}

.products-section .search-bar {
  position: relative;
  width: 95%;
  margin-bottom: 10px;
}

.products-section .search-input {
  width: 100%;
  height: 40px;
  padding: 25px;
  border-radius: 15px;
  border: none;
  background-color: #f6f9ff;
  color: #28315e80;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.products-section .search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section .search-button i {
  color: #28315e;
  font-size: 14px;
}

.products-section .filter-header {
  padding: 20px 10px 20px 0;
  border-bottom: 1px solid #28315e80;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.products-section .filter-title {
  color: #28315e;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.products-section .filter-icon i {
  color: #28315e;
  font-size: 14px;
}

.products-section .filter-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.products-section .filter-content.open {
  max-height: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #28315e80;
  opacity: 1;
  visibility: visible;
}

.products-section .filter-header.active {
  border-bottom: none;
}

.products-section .checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.products-section .checkbox-group:last-child {
  margin-bottom: 0;
}

.products-section .checkbox-group input[type='checkbox'] {
  display: none;
}

.products-section .checkbox-label {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24.03px;
  letter-spacing: 0px;
  color: #28315e;
  cursor: pointer;
}

.products-section .checkbox-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: #F6F9FF;
}

.products-section .checkbox-group input[type='checkbox']:checked + .checkbox-label:before {
  background-color: #f92b3f;
}

.products-section .checkbox-group input[type='checkbox']:checked + .checkbox-label:after {
  content: '\f00c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: white;
}

.products-section .selected-item {
  position: relative;
}

.products-section .selected-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f92b3f;
}



/* Pagination styles */

.products-section .pagination-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 50px 0;
  user-select: none;
}

.products-section .pagination-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #F92B3F;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.products-section .pagination-arrow:hover {
  background-color: #e01a2d;
}

.products-section .pagination-arrow:disabled {
  background-color: #f9737f;
  cursor: not-allowed;
}

.products-section .pagination-numbers {
  display: flex;
  align-items: center;
  background-color: #F6F9FF;
  border-radius: 6px;
  margin: 0 8px;
}

.products-section .page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 8px;
  color: #28315E80;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.products-section .page-number:hover {
  background-color: #e6ecf7;
}

.products-section .page-number.active {
  background-color: #F6F9FF;
  color: #28315E;
  font-weight: 600;
}

.products-section .ellipsis {
  margin: 0 5px;
  color: #28315E80;
  font-weight: bold;
}


/* PRODUCT DETAILS */

.product-detail-section{
  margin: 50px auto;
  color: #28315E;
}


.product-detail-section .product-detail-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 100px;

}

.product-detail-section .product-detail-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 100px;
 
}


.product-detail-section .product-detail-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 50px;
}

.product-detail-section .product-detail-container .product-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 25px;
  font-size: 14px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.product-detail-section .product-detail-container .product-details h2 {
font-weight: 600;
font-size: 36px;
line-height: 50px;
letter-spacing: 0px;

}

.product-detail-section .product-detail-container .product-details .product-id {
font-weight: 400;
}

.product-detail-section .product-detail-container .product-details .product-description {
font-weight: 300;
}

.product-detail-section .product-detail-container .product-details .product-detail-row{
 display: flex;
 align-items: start;
 gap: 100px;
}

.product-detail-section .product-detail-container .product-details .product-detail-row h3 {
font-weight: 600;
}

.product-detail-section .product-detail-container .product-details .product-detail-row p {
font-weight: 300;
}

.product-detail-section .product-detail-container .product-image {
  width: 40%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-section .product-detail-container .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail-section .product-litre  {
  margin-top: 15px;
 font-weight: 600;
 font-size: 14px;
 letter-spacing: 0px;
 text-align: end;
}

.product-detail-section .product-litre span  {
  padding: 0 6px;
  position: relative;
}



.product-detail-section .product-litre span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 3px; 
  right: 0;
  width: 2px;
  height: 15px;
  background-color: #28315E;
}


/* All Data SHeets Style */

.product-table-section {
  margin-bottom: 200px;
}

.product-table-section .product-table-container {
  width: 100%;
  overflow-x: auto;
}

.product-table-section table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}

.product-table-section thead {
  background-color: #F6F9FF;
}

.product-table-section th {
  width: 25%;
  padding: 15px;
  color: #28315E;
  border-right: 1px solid #f1f5ff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24.03px;

}

.product-table-section td {
  font-size: 12px;
  font-weight: 400;
  padding: 15px;
  border: 1px solid #f1f5ff;
  color: #28315E;
}


.product-table-section .table-btns {
  margin-top: 20px;
  display: flex;
 align-items: start;
 gap: 10px;
}



.product-table-section .table-btns button {
  color: #28315E;
 font-weight: 500;
 font-size: 16px;
 line-height: 24.03px;
 background-color: transparent;
 padding: 8px;
 border: 1px solid #f1f5ff ;
 border-radius: 8px;
 transition: all 0.3s ease;
 cursor: pointer;
}

.product-table-section .table-btns button:hover {
 background-color: #f1f5ff;
}

