.services-offer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
}

.services-offer-section .services-offer-image {
  width: 85%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
  overflow: hidden;
}

.services-offer-section .services-offer-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.services-offer-section .text-container {
  width: 100%;
  color: #28315e;
  text-align: right;
  padding: 15px;
}

.services-offer-section .text-container h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -1%;
  margin-bottom: 20px;
}

.services-offer-section .text-container p {
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
}

.aminol-large-image {
  width: 100%;
}

/* Aminol Contact Form */

.aminol-contact-form {
  background-color: #f6f9ff;
  color: #28315e;
  border-radius: 12px;
}

.aminol-contact-form .form-content {
  padding: 35px;
}

.aminol-contact-form h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24.03px;
  letter-spacing: 0px;
}

.aminol-contact-form p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}

.aminol-contact-form .form-group {
  margin-bottom: 10px;
}

.aminol-contact-form input::placeholder,
.aminol-contact-form textarea::placeholder {
  color: #b4b7d4;
}

.aminol-contact-form .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.aminol-contact-form .form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #b4b7d425;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  color: #28315e;
}

.aminol-contact-form .form-control:focus {
  outline: none;
  border-color: #b4b7d4;
}

.aminol-contact-form textarea.form-control {
  resize: vertical;
  min-height: 170px;
  max-height: 200px;
}

.aminol-contact-form .form-row {
  display: flex;
  align-items: end;
  gap: 20px;
}

.aminol-contact-form .form-row .form-group {
  flex: 1;
}

.aminol-contact-form .btn-send {
  background-color: #f92b3f;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.aminol-contact-form .btn-send i {
  margin-left: 8px;
  font-size: 12px;
}

.aminol-contact-form .btn-send:hover {
  background-color: #d9232f;
}

@media (max-width: 768px) {
  .aminol-contact-form .form-row {
    flex-direction: column;
    gap: 0;
  }
}

.aminol-contact-form .custom-select-wrapper {
  position: relative;
  width: 100%;
}

.aminol-contact-form .custom-select {
  position: relative;
  display: block;
  width: 100%;
  color: #28315e;
  padding: 12px 15px;
  border: 1px solid #b4b7d425;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.aminol-contact-form .custom-select:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 46%;
  transform: translateY(-50%);
  color: #28315e;
  font-size: 12px;
}

.aminol-contact-form .custom-select.open:after {
  content: "\f077";
}

.aminol-contact-form .custom-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  border: 1px solid #b4b7d475;
  background-color: #fff;
  border-radius: 6px;
  max-height: 175px;
  width: 100%;
  scrollbar-width: thin;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 999;
}

.aminol-contact-form .custom-options.active {
  opacity: 1;
  visibility: visible;
}

.aminol-contact-form .custom-option {
  position: relative;
  display: block;
  padding: 12px 14px;
  font-family: Atyp Regular;
  font-size: 16px;
  opacity: 80%;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #f0f2f5;
}

.aminol-contact-form .custom-option:last-child {
  border-bottom: none;
}

.aminol-contact-form .custom-option:hover {
  background-color: #f5f7fa;
}

.aminol-contact-form .custom-option.selected {
  background-color: #f0f2f5;
}

